[2017-05-31 10:36] ranvirgorai opened #1 "how to add Event for App Install and Uninstall Event in React Native"

[2017-05-31 23:58] pwilkniss commented on #1
@ranvirgorai  please email support at clevertap.com and you'll be able to get all your questions answered

[2017-06-03 08:27] ranvirgorai opened #2 "Please Mention Detailed Documentation for React native push notification. Using clever tap"

[2017-06-23 13:35] anil15051992 opened #3 "react native clevertap issue."
Hi
I am using clevertap- react-native npm in my ios react native project but it is throwing the following error
" ld: framework not found CleverTapSDK
clang: error: linker command failed with exit code 1 (use -v to see invocation)"

And also i am getting error while running the "pod 'CleverTap-iOS-SDK'" command on terminal.
and the error is as below
"[!] Unknown command: `CleverTap-iOS-SDK`
Did yo

[2017-06-26 20:09] #1 closed

[2017-06-26 20:11] pwilkniss commented on #3
@anil15051992   here's a link to instruction on how to use CocoaPods to install the sdk.   https://github.com/CleverTap/clevertap-react-native/blob/master/docs/install.md#ios

Basically create a Podfile.  Add `pod CleverTap-iOS-SDK` to it.  run pod install.  there is an example Podfile at the link above.

I am going to close this issue here.  If you have additional issues please feel free to email

[2017-06-26 20:11] #3 closed

[2017-06-26 20:13] pwilkniss commented on #2
@ranvirgorai   please email support at clevertap.com and we'd be happy to help.  closing this issue here.

[2017-06-26 20:13] #2 closed

[2017-08-24 09:34] trinadhkoya opened #4 "DeepLinking"
Deep linking Docs could be more detailed.

[2017-09-28 12:56] ahishek opened #5 "Unable to build the project on android"
Hey, I get this error when I try to run my android project
`error: package com.clevertap.android.sdk does not exist
import com.clevertap.android.sdk.CleverTapAPI;
`

Clevertap Android sdk version - 3.1.4

Can you help?

[2017-09-28 15:59] pwilkniss commented on #5
@ahishek   have you added the sdk to your app dependencies ?
see https://github.com/CleverTap/clevertap-react-native/blob/master/docs/install.md#android

if you've done that and are still having problems, please drop a line with details to support at clevertap.com

[2017-10-13 22:45] anuragvijayvergia opened #6 "CleverTapSDK is not a dylib IOS"
Hi

I am trying to integrate clevertap react native on IOS. I am getting following error when I am running my app after following the installation instructions.

[code]

can you provide me some information on what could be the issue here?

[2017-10-19 19:26] #5 closed

[2017-10-19 19:26] pwilkniss commented on #6
closing this here, as this is being handed via CleverTap support channel

[2017-10-19 19:26] #6 closed

[2017-10-26 18:24] sfratini opened #7 "Duplicate module name"
Hi! We are integratin this package and it says that the module is duplicated as it is compiling RN twice. We have a fixed RN version and this module is always trying to install a newer version in the private depdendencies.

[code]

A workaround is to rename the clevertap-react-native package.json to the exact version we have which is 0.48.1 but it is a pain to do it every time. Specially because w

[2017-10-27 00:21] pwilkniss commented on #7
thanks @sfratini   this should be fixed in v0.1.8
https://github.com/CleverTap/clevertap-react-native/commit/0925f538b6820ed1c922355a10ac6fa86b0d5a1e

[2017-10-30 15:58] sfratini commented on #7
I can confirm this is fixed in 0.1.8. Thanks!

[2017-10-30 15:58] #7 closed

[2017-11-22 16:02] sfratini opened #8 "App Launched not being tracked"
Should we call all the different events manually or should the library do it automatically?

I am not getting the App Launched events for example. I do get the Charged and Custom events.

Thanks!

[2017-11-24 17:53] pwilkniss commented on #8
@sfratini   please drop an email to support at clevertap dotcom.  That will be the best channel to get this sorted out for you.

[2017-12-18 11:36] manurana opened #9 "iOS : framework not found"
Getting this error after following instructions
Have tried `react-native link` as well as the manual instructions
Have not tried the cocoapod way

RN 0.50.3
clevertap-react-native is 0.1.8

`ld: framework not found CleverTapSDK for architecture x86_64`

Here is the full log
[code]

[2017-12-18 11:46] manurana commented on #9
My mistake
I thought that the pods section was OPTIONAL. Works after doing `pod install`

[2018-01-11 13:40] rajaishwary opened #10 "Where can i see data related to recordScreenView ?"
following part of code.

[code]
used is js as:
```CleverTap.recordScreenView(screenName);```

[2018-01-11 13:42] rajaishwary commented on #10
following part of code.
[code]

used is js as:
```CleverTap.recordScreenView(screenName);```

[2018-01-11 19:59] pwilkniss commented on #10
@rajaishwary  that needs to be enabled on your CleverTap account/dashboard.  Please email support at clevertap dotcom with your account info and query.  That will be the best channel for you to get this resolved.

[2018-01-25 17:25] shivawu opened #11 "[Android] Expose CleverTapModule.getCleverTapAPI for integrations with other platforms"
I'm trying to integrate with branch.io, where according to their docs, one has to call `getCleverTapAttributionIdentifier` on the CleverTapAPI instance, but the API initiailized in CleverTapModule is private, so I have to create another API using `CleverTapAPI.getInstance` with potentially different context and internally it's still a singleton, so weird things might happen.

https://docs.branch.i

[2018-02-12 17:04] kanteankit opened #12 "Use clevertap-react-native with CRNA"
Hi, I can see from the README that this library cannot be used with non-ejected CRNA apps. Do you plan to provide a separate library for integrating clevertap into CRNA app. Or is there a way you could suggest to do this?

[2018-02-14 07:48] darshanclevertap commented on #11
Hi @shivawu

You can use the JS method for it as explained in the ExampleProject.js file of the Example Project like this -

[code]

[2018-02-14 07:48] #8 closed

[2018-02-14 07:48] #9 closed

[2018-02-14 07:49] #10 closed

[2018-02-14 18:11] pwilkniss commented on #12
@kanteankit not on our roadmap, don't really have any good ideas for you, other than ejecting

[2018-03-31 06:38] shivawu commented on #11
Thanks for getting back at me, I'm not sure if that would work because the integration guide asks to put the method call in onCreate of the activity?

[2018-05-31 19:53] yoginair opened #15 "HOW TO SETUP PUSH-NOTIFICATION IS NOT THERE IN DOCS FOR IOS"

[2018-06-01 07:17] Aditi3 commented on #15
Hey @yoginair ,

To implement push notifications in iOS React Native,  please check included ExampleProject.js [(https://github.com/CleverTap/clevertap-react-native/blob/master/ExampleProject/ExampleProject.js)]

Here you can see, by calling the below method:

` // for iOS only: register for push notifications
        CleverTap.registerForPush();`

you can enable support for push notifications.

[2018-06-05 10:05] VarshaJadhav commented on #15
@Aditi3 I also tried to adding `CleverTap.registerForPush();` in my root file, but again its not enabling push notification in Clevertap dashboard.

[2018-06-05 10:38] Aditi3 commented on #15
Thanks, @VarshaJadhav  for writing in.

I am sure that there must be some integration error at your end. Could you please write to support@clevertap.com - we will take a look at it?

[2018-06-08 10:47] VarshaJadhav commented on #15
Hey @yogi Please check all the configuration required for iOS push notification are given in doc: https://github.com/CleverTap/clevertap-react-native/blob/HEAD/docs/install.md#manual-linking

Once you successfully configured and integrated clevertap-react-native, Check in your xcode debugger for **APNs device token**

Because in my case instead of APNs device token FCM token was getting generated

[2018-06-08 11:01] yoginair commented on #15
@VarshaJadhav thanks for the help 🥇 . @Aditi3 thanks

[2018-06-08 11:01] #15 closed

[2018-06-12 08:19] AbhishekCode commented on #15
thanks

[2018-06-29 09:06] MatthieuPeyrot opened #16 "issue with the lasted version of node and yarn"
Hi,

After I updated node (10.5.0) and yarn (1.7.0)
 to the lastest version and i got this issue :

[code]

[2018-06-29 09:07] MatthieuPeyrot commented on #16
Also at the beginning, I have those warning

[code]

[2018-07-02 18:52] #12 closed

[2018-07-02 18:53] #4 closed

[2018-07-02 18:53] #11 closed

[2018-07-22 04:04] Sunkari16 commented on #16
facing same issue

[2018-07-23 16:46] #16 closed

[2018-07-23 16:58] pwilkniss commented on #16
@MatthieuPeyrot @Sunkari16  apologies for the delay.  this should now be fixed.

[2018-09-27 11:01] AnilG1793 opened #18 "Unable to update push notification setting and receive push notifications"
I am unable to get push notification on my device while integrated plugin. I already asked questions on [Stackoverflow](https://stackoverflow.com/questions/52515516/react-native-clevertap-push-notification-integration) and [Clevertap community](https://community.clevertap.com/t/unable-to-receive-push-notification-on-device/1818).

I have tried with native android example its working fine, but inca

[2018-09-27 11:21] Aditi3 commented on #18
Hey @AnilG1793

Can you ensure you are calling the

 // for iOS only: register for push notifications
`        CleverTap.registerForPush();`

to register push notifications ?

[2018-09-27 11:37] AnilG1793 commented on #18
@darshanclevertap , When I am trying to update profile its showing, that profile request is queued. And when queue request is make its throwing timeout exception.

[2018-09-28 07:05] AnilG1793 commented on #18
@darshanclevertap , **One more thing I have observed today**, When I am trying to fetch **MSG-push property** of created user profile, it's returning me as true. But when trying to cross verify with Dashboard its not matching. On dashboard Push notification showing as disabled(false).
Here is a log :-
`09-28 12:29:56.284 11860-12369/com.clevertapexample I/ReactNativeJS: 'CleverTap Profile Name: ',

[2018-10-06 11:14] manurana opened #20 "Upgrading SDK does not download correct iOS SDK version"
I started the project with `clevertap-react-native` version 0.2.1. My `package.json` has the following entry :`"clevertap-react-native": "^0.2.1",`. The `Podfile` has the following entry : `pod 'CleverTap-iOS-SDK'`
Today I tried to update the SDK using `yarn upgrade clevertap-react-native`. Now `yarn.lock` shows the SDK to be at version` 0.2.4`. When I do a `pod install`, the log shows that `Cleve

[2018-10-06 15:46] manurana commented on #20
My bad !
I should have probably tried `pod update`

[2018-10-06 16:59] #20 closed

[2018-10-25 10:31] jiteshwadia opened #21 "On android - App crashes on opening"
**issue:**
On android, App keeps crashing on opening. Shows error message as "App keeps stopping"
On iOS, Works fine.

**Steps:**
[code]

**Package.json**
[code]

**Android Studio - Logcat** -- Filtered by Errors only
[code]

**android/build.gradle**

[code]

**android/settings.gradle**

[code]

**Screenshot** - android
![screenshot_1540462351](https://user-images.githubusercontent.com/2070409/474

[2018-11-01 07:07] darshanclevertap commented on #21
@jiteshwadia
Apologies for the delay in getting back to you.
Looking at the stack trace of the logs you have shared, it seems like you have not added the CleverTapModule in your MainActivity. Have you followed the [integration steps](https://github.com/CleverTap/clevertap-react-native/blob/master/docs/integration.md) here?
If not, please follow the steps mentioned in the integration document and l

[2018-11-06 08:06] HyuArzani opened #23 "iOS APNS Bad Device Token"
Hey when i want to integrate clevertap on ios using firebase FCM and then when i try to create campaign on ios  i get error on clevertap dashboard:

<img width="1089" alt="screen shot 2018-11-06 at 15 03 19" src="https://user-images.githubusercontent.com/27977978/48050695-2fbd0300-e1d5-11e8-848c-151a8f436c1a.png">

also how we get the APNs device token to test push notification, i try using FCM to

[2018-11-06 08:16] Aditi3 commented on #23
Hey @HyuArzani,

To implement push notifications in iOS React Native, please check included ExampleProject.js: https://github.com/CleverTap/clevertap-react-native/blob/master/ExampleProject/ExampleProject.js

Here you can see, by calling the below method:

// for iOS only: register for push notifications CleverTap.registerForPush();

you can enable support for push notifications.

[2018-11-06 08:32] HyuArzani commented on #15
Hello @VarshaJadhav is it not possible to integrate clevertap APN device token with firebase? because in my case i need firebase as provider to

[2018-11-06 08:51] HyuArzani commented on #23
Hi, for CleverTap.registerForPush() only log inside function, is it enable to give callback device APNs token when success and error when fail happened, i'm using clevertap with firebase fcm, is it the notification setting get conflict with firebase setting? I've test with android and its fine, i need to implement clevertap with firebase fcm also

[2018-11-06 08:58] Aditi3 commented on #23
Hey,

Enabling push notifications using FCM token is not supported for iOS.
You need to send APNS token to CleverTap for sending notification successfully to the iOS device.

[2018-11-06 09:41] Aditi3 commented on #23
Hey @HyuArzani,

Not required to remove FCM notifications for your application and the only necessity is to pass the APNs (Apple Push Notifications) token because iOS does not detect FCM token that is why it is not able to recognize the user and the user is unreachable.

You can achieve the same by using the below code snippet, the code enables the support for push notifications, fetch the apns de

[2018-11-06 10:04] HyuArzani commented on #23
ok, i think i get it, it was my mistake when upload the .p12 key, so for debug mode we must use development .p12, haven't check on release mode, anyway could we give CleverTap.registerForPush(); callback like promise that give the APNs device token on success and throw error on fail to register? i mean if it possible tough, closing for now

[2018-11-06 10:04] #23 closed

[2018-11-15 10:51] HyuArzani opened #24 "Mobile in App android not showing"
Hello i want to user mobile in app message in android, in ios it was showed after i trigger clevertap event, how to show the in app message in android?

[2018-11-16 07:38] darshanclevertap commented on #24
Hi @HyuArzani Could you please give us more details (logs/screenshots) on what did not work specifically? Like, which type of inapp message were you trying to send? Did you see some logs which had shown some errors? Have you integrated the clevertap-react-native correctly for Android? This will help us to solve your issue in a swift manner.
Thanks

[2018-11-16 07:39] darshanclevertap commented on #21
@jiteshwadia Did your issue get fixed? If you are still facing the issue please let us know.

[2018-11-16 08:35] darshanclevertap commented on #24
Have you followed the [Install instructions](https://github.com/CleverTap/clevertap-react-native/blob/master/docs/install.md) and [Integration steps](https://github.com/CleverTap/clevertap-react-native/blob/master/docs/integration.md) mentioned in the [README](https://github.com/CleverTap/clevertap-react-native/blob/master/README.md)?

[2018-11-16 09:47] HyuArzani commented on #24
of course, no error when i log on android studio, this is my capture:

<img width="1170" alt="screen shot 2018-11-16 at 16 41 02" src="https://user-images.githubusercontent.com/27977978/48613527-9359e400-e9be-11e8-9dcf-b16b56b1a0ec.png">

this is my campaign setting target:

<img width="1071" alt="screen shot 2018-11-16 at 16 42 41" src="https://user-images.githubusercontent.com/27977978/48613579-

[2018-11-16 10:34] HyuArzani commented on #24
the thing is, normal push campaign was fine in android, but in app are not working

[2018-11-16 11:03] darshanclevertap commented on #24
@HyuArzani Thank you so much for the details. First, by looking at the console logs, I can see that you're using the clevertap-react-native plugin v0.2.5. I would recommend you to update to [v0.2.6](https://www.npmjs.com/package/clevertap-react-native). Meanwhile, I believe this might be an issue with the back end so I will also pass on all these details and get back to you as soon as possible.

[2019-01-29 07:30] shubhnik opened #25 "Clevertap events during development mode"
All the Clevertap events are pushed even in dev mode. I just want to see production events on my Clevertap dashboard. Is it possible to setup different keys for dev mode so that dev events don't pollute the production events?

[2019-01-29 07:35] Aditi3 commented on #24
Closing it due to inactivity, if you are still facing the issue reach out to us at support@clevertap.com.

Thanks!

[2019-01-29 07:35] #24 closed

[2019-01-29 07:35] Aditi3 commented on #21
Closing it due to inactivity, if you are still facing the issue reach out us at support@clevertap.com.

Thanks!

[2019-01-29 07:35] #21 closed

[2019-01-29 07:36] #18 closed

[2019-01-29 08:01] Aditi3 commented on #25
Hey @shubhnik

I would recommend using CleverTap Test Account credentials for development mode and update the credentials once you want to push the data to Production mode with the CleverTap account credentials.

To implement the same, in android, navigate to the AndroidManifest.xml file in your project navigator and add your CleverTap Account ID and Token to your AndroidManifest.xml, within the <

[2019-02-05 05:05] shubhnik commented on #25
Thanks, @Aditi3  . I have created a test account and change the credentials based on dev/prod mode.

[2019-02-05 05:05] #25 closed

[2019-03-22 14:33] PaliwalSparsh opened #27 "No resource identifier found for attribute 'appComponentFactory' in package 'android'."
Hi,
I followed all the instructions for integrating clevertap but i am getting this error -

[code]

I tried to debug the issue and look for solutions but most of the solutions didnt seem to be working for me. It is something related to updating dependecies to androidx.

We are using `"react-native": "^0.57.0"`. Please let me know if you need more information.

[2019-03-28 13:19] darshanclevertap commented on #27
Hi @PaliwalSparsh

Can you tell me which version of the Android support libraries are you using in your app ?

[2019-04-27 06:29] tanviagarwaltravel opened #30 "Showing error while build ios app 'CleverTapSDK/CleverTap.h' file not found and 'CleverTapReact/CleverTapReactManager.h' file not found"
Installed npm install -s  clevertap-react-native

Installed pod ->   pod 'CleverTap-iOS-SDK'

Still showing error.

[2019-04-29 04:51] Aditi3 commented on #30
Hey @tanviagarwaltravel

Could you please try including the **use_frameworks!** in your podfile.

CleverTapSDK is a dynamic framework, by specifying **use_frameworks!** you can make CocoaPods integrate to your project via frameworks instead of static libraries. Therefore I suggest try including use_framework! in the pod file and then build your project.

[2019-04-29 05:53] tanviagarwaltravel commented on #30
Thanks Aditi. Just want to know can we receive push notifications from CleverTap in react-native? If yes, can you share some code snippet?

[2019-04-29 11:00] tanviagarwaltravel opened #31 "Clicking on notification not calling any CleverTap method in react-native"

[2019-04-29 11:01] tanviagarwaltravel commented on #18
Is there any listener which gets called in react-native when we click on notifications?

[2019-05-01 14:05] Aditi3 commented on #31
Hey @tanviagarwaltravel

Seems like you want to handle the push notifications payload and process the user's response to a notification.

Here is the link where you can find the answer for both the platform iOS and Android to handle the notifications: https://stackoverflow.com/questions/55350391/cannot-read-payload-of-push-notification-sent-from-clevertap-dashboard/55361276#55361276

Hope this hel

[2019-05-02 04:21] Aditi3 commented on #30
Glad it worked for you.

Yes, you can receive push notifications from CleverTap.

To implement push notifications in iOS React Native, please check included ExampleProject.js: https://github.com/CleverTap/clevertap-react-native/blob/master/ExampleProject/ExampleProject.js

Here you can see, by calling the below method:

// for iOS only: register for push notifications CleverTap.registerForPush();

[2019-05-20 07:14] Aditi3 commented on #31
Hope this helps.

Closing it, if you need further help you can also write to support@clevertap.com or you can post on https://community.clevertap.com/

Thanks!

[2019-05-20 07:14] Aditi3 commented on #30
Hope this helps.

Closing it, if you need further help you can also write to support@clevertap.com or you can post on https://community.clevertap.com/

Thanks!

[2019-05-20 07:14] #30 closed

[2019-05-22 04:38] krishnaNl opened #32 "'CleverTapSDK/CleverTap.h' file not found"
I am not able to complete the ios setup. I need a sample project. I am using clevertap-react-native": "^0.3.2"

[2019-05-22 04:52] Aditi3 commented on #32
I suggest try including **use_framework!** in the pod file and then build your project.

CleverTapSDK is a dynamic framework, by specifying use_frameworks! you can make CocoaPods integrate to your project via frameworks instead of static libraries.

Thanks!

[2019-05-22 05:54] krishnaNl commented on #32
use_framework is already there
This is My Pod Config

-------------
# Uncomment the next line to define a global platform for your project
 platform :ios, '9.0'

target 'Africa_CDC' do
  # Uncomment the next line if you're using Swift or would like to use dynamic frameworks
use_frameworks!

  # Pods for Africa_CDC
# this is very important to have!
rn_path = '../node_modules/react-native'
pod 'yoga

[2019-05-22 06:01] krishnaNl commented on #32
Can You share the smaple project in react native with the latest version of cleverTab.

[2019-05-22 06:32] Aditi3 commented on #32
Hey @krishnaNl

We are in the process of updating the Example Project with the latest version of CleverTap.

Could you please write to support@clevertap.com and we can take this forward and help you in fixing the issue at earliest.

[2019-05-23 10:14] Aditi3 commented on #32
Hey @krishnaNl

Here is the link of working Example for iOS Platform with the latest version of CleverTap React SDK
https://github.com/CleverTap/clevertap-react-native/tree/0.3.3/Starter

Sorry for the inconvenience caused.

Thanks,
Aditi

[2019-05-23 11:13] krishnaNl commented on #32
From CleverTap-iOS-SDK Version 3.4.2, I have removed use_frameworks! in POD file. Now it is working for me

[2019-05-23 12:04] Aditi3 commented on #32
Good to know it worked for you.

Do you mind sharing what approach have you used to import CleverTap iOS Header?

[2019-05-26 09:05] darshanclevertap commented on #27
@PaliwalSparsh Were you able to fix this? This thread has been inactive since long. I'm closing this. If you have any questions you can reach out to our support team on support@clevertap.com

[2019-05-26 09:05] #27 closed

[2019-05-27 09:14] krishnaNl commented on #32
Same pod config I was already shared in this conversion. the only modification is to remove  use_frameworks!

[2019-05-29 08:45] Aditi3 commented on #32
Thank you for sharing.

Closing it.

Thanks,
Aditi

[2019-05-29 08:45] #32 closed

[2019-07-06 08:23] code76kb opened #35 "Android build failed when upgraded from 0.2.6 to 0.3.4"
/.gradle/caches/transforms-1/files-1.1/clevertap-android-sdk-3.5.1.aar/6e3c052bbc8c823383d56efe1aacd7fc/res/layout-land/inbox_carousel_layout.xml:14:35-64: AAPT: No resource found that matches the given name (at 'layout_above' with value '@id/timestamp_relative_layout').

[2019-07-26 03:03] nguyenductoan1995 opened #36 ""React-native" how to get payload from Notification"
I'm receiving notifications on mobile but not able to read its payload.

[2019-07-26 04:38] Aditi3 commented on #36
Hey @nguyenductoan1995

Seems similar to #31.

Hope this helps.

Thanks,
Aditi

[2019-07-26 04:50] nguyenductoan1995 commented on #36
But i need Method for handel on react-native , this issue don't resolve problem

[2019-08-07 07:23] Thronie opened #37 "changeCredentials In React native"

[2019-08-07 07:23] Thronie commented on #37
Hi,

How we will change credentials for development and production environment in react native.

[2019-08-07 10:45] Aditi3 commented on #37
Hey @Thronie

I am assuming that you wish to set credentials for development and production programmatically, you can do so in your App Delegate, in `application:didfinishlaunchingwithoptions:`

Here is the helpful code snippet for implementing the same:

[code]

Hope this helps.

[2019-08-12 05:17] #37 closed

[2019-08-16 10:35] nikoloz110 commented on #35
Same with me. build fails on from 0.3.0 and up. react native version 0.51.0

[2019-08-16 11:10] darshanclevertap commented on #35
@code76kb @nikoloz110 This issue will be fixed in the next version, I would suggest staying on v0.3.0 for now.

[2019-08-16 11:20] nikoloz110 commented on #35
did you mean stay on v.0.2.6?  because v.0.3.0 does not build. (and other
build after that).
And can you give me rough estimate when will you fix it? My company needs
to use Inbox feature, which is available in  0.3.0 and up.

Thanks for such quick reply.

On Fri, Aug 16, 2019 at 3:10 PM Darshan Pania <notifications@github.com>
wrote:

[2019-08-16 11:42] darshanclevertap commented on #35
@nikoloz110 Yes sorry, stay at v0.2.6. ETA for the next release is the end of August.

[2019-08-30 13:33] ebellumat opened #38 "Pods of clevertap-react-native conflicts with react-native-fast-image."
Hello,

I use  "react-native-fast-image": "^7.0.2" in my project, but the Clevertap uses a OLD version of  SDWebImage/GIF (~> 4.0) which depends a old version of SDWebImage/Core (= 4.0.0),

The Fast image use SDWebImage/Core (= 5.0.4). Please update clevertap-react-native to use the last version of dependency. This lib broken the entire project.

![image](https://user-images.githubusercontent.com/

[2019-08-30 14:00] ebellumat commented on #38
I check the Clevertap-iOS-SDK, the clevertap-react-native uses a 3.4.2 version, but the Clevertap-iOS-SDK version 3.6.0 uses the SDWebImage version 5.0. Please update this.

[2019-08-31 14:04] Aditi3 commented on #38
Hey @ebellumat

We already have a plan to update SDWebImage 5.x in the upcoming version of the SDK.

The release with SDWebImage 5.x will be available soon. We will keep you posted.

Thanks,
Aditi

[2019-09-04 07:27] ianrajs opened #42 "iOS manual linking error: Could not find auto-linked framework 'CleverTapSDK'"
Hi, I'm trying to instal clevertap by manual linking.
and i got this error:

[2019-09-04 14:32] ebellumat commented on #42
I have created my own fork of this dependency for this problem, i replace all imports starts with 'CleverTap SDK' to 'CleverTap-iOS-SDK', for example:

``` #import <CleverTapSDK/CleverTap.h>``` to
``` #import <CleverTap-iOS-SDK/CleverTap.h>```

Use my fork if you don't want to have much work, i hope this helps.

[2019-09-04 14:33] ebellumat commented on #42
For import of CleverTapReact i use #import <clevertap-react-native/CleverTapReactManager.h>

[2019-09-04 14:46] ebellumat opened #43 "[iOS] CleverTap.profileGetProperty method always return undefined"
In Android this lines works perfectly, in iOS these methods always returns null. Here the flux.

[code]

 CleverTap.profileGetProperty always return null on iOS. Android works perfectly! How to proceed? I test with device on release and debug mode.

clevertap-react-native version is 0.3.4

[2019-09-04 14:49] Aditi3 commented on #42
Hey @ebellumat

Glad to know it worked for you for replacing the **#import** statements.

However, I would recommend try including the **use_frameworks!** in your podfile to avoid replacing the **#import** statements.

CleverTapSDK is a dynamic framework, by specifying use_frameworks! you can make CocoaPods integrate to your project via frameworks instead of static libraries. Therefore I suggest t

[2019-09-04 15:01] ebellumat commented on #42
**use_frameworks!** broke my entire project, for example:

```[!] The 'Pods-V1' target has transitive dependencies that include statically linked binaries: (/Users/erasmolbj/Documents/Git/app-clientereact/ios/Pods/GoogleMaps/Base/Frameworks/GoogleMapsBase.framework, /Users/erasmolbj/Documents/Git/app-clientereact/ios/Pods/GoogleMaps/Maps/Frameworks/GoogleMaps.framework, /Users/erasmolbj/Documents/

[2019-09-04 15:09] Aditi3 commented on #42
Hi @ianrajs

Seems like installation issue. Could you please verify the installation steps once at your end?

Ensure that you are including **libCleverTapReact.a** under Link Binary with Libraries.

Also, I recommend you to check out our Demo Application to verify the installation.
Helping Link: https://github.com/CleverTap/clevertap-react-native/tree/master/Starter

Thanks

[2019-09-04 17:50] ebellumat commented on #43
Heres the logs.

![image](https://user-images.githubusercontent.com/26942680/64278534-5ba73300-cf23-11e9-9092-4351466673c4.png)

[2019-09-04 18:30] ebellumat commented on #43
Here's the Xcode Log when i update the profile:

[code]

[2019-09-04 20:12] ebellumat opened #44 "[Inbox] How to capture the click of the buttons?"
I have inbox message like this, but when i click on generated button, nothing happen. How can i implement an action for this button?  The button is called "Aplicar Cupom".

![image](https://user-images.githubusercontent.com/26942680/64287749-e8a7b780-cf36-11e9-8a2d-ad4674d66d66.png)

Thanks.

[2019-09-05 02:09] Aditi3 commented on #44
Hey @ebellumat

Check out our App-Inbox documentation: https://developer.clevertap.com/docs/ios#section-app-inbox

If you need further help request you to write to support@clevertap.com so that we can take the discussion forward and assist you.

Thanks,
Aditi

[2019-09-05 02:09] #44 closed

[2019-09-05 02:22] ianrajs commented on #42
Hi @Aditi3
like @ebellumat, my entire project broke if I add **use_framework**! to my podfile.
So I decided to linked the clevertap manually. I have do this step:

- adding CleverTapReact.xcodeproj into the Libraries folder
- adding **libCleverTapReact.a** into **Link Binary with Libraries**.
- adding $(SRCROOT)/../node_modules/clevertap-react-native/ios in Header Search Path
- adding the account

[2019-09-05 07:11] ianrajs commented on #42
Hi @Aditi3
I have trying to integrate clevertab into sample github https://github.com/CleverTap/clevertap-react-native/tree/master/Starter.
It is working if I install using podspec, but if trying linked manully. I got the same error with my project.
Any idea?

[2019-09-05 08:28] Aditi3 commented on #42
Hey @ianrajs

Could you please verify you have added `pod 'CleverTap-iOS-SDK'` as a dependency in your iOS podfile?

In the case of manual installation also, it is required to add CleverTapSDK as a dependency.

Try adding `pod 'CleverTap-iOS-SDK'` in your podfile. If your project configuration doesn't allow you to include **use_frameworks!**  in your podfile. I suggest installing CleverTapSDK as a

[2019-09-05 09:14] ianrajs commented on #42
Thanks @Aditi3,
My bad, I didn't adding pod 'CleverTap-iOS-SDK' in my podfile.

btw, how to #import <CleverTap-iOS-SDK/CleverTapReactManager.h>?
I have  trying use #import <clevertap-react-native/CleverTapReactManager.h> like @ebellumat suggestion. But its not working also.

[2019-09-05 09:21] Aditi3 commented on #42
@ianrajs  It is not required to make any modification for importing CleverTapReactManager header.

Simply use the **#import <CleverTapReact/CleverTapReactManager.h>**  statement as stated in our [documentation](https://github.com/CleverTap/clevertap-react-native/blob/master/docs/integration.md#ios).

[2019-09-05 17:03] ebellumat commented on #44
But i'm using React Native wrapper. Native code implementation will not work for my case...

[2019-09-06 03:53] #42 closed

[2019-09-09 16:19] ebellumat opened #45 "[Inbox] How we can deal with the inbox buttons on react-native?"
I have inbox message like this, but when i click on generated button, nothing happen. How can i implement an action for this button? The button is called "Aplicar Cupom".

Remember, i'm using a React-Native wrapper, native implementations doesn't work for me here.
I need to deal with it on iOS and Android

![image](https://user-images.githubusercontent.com/26942680/64547994-270cf000-d304-11e9-9f07

[2019-09-17 15:28] felippepuhle commented on #43
same here! did you find a way to solve it @ebellumat?

[2019-09-17 18:14] ebellumat commented on #43
Not yet, I had to check the profile info on dashboard. It's annoying.

[2019-09-17 19:14] ebellumat commented on #45
I already did this, i used deep links on buttons. Thanks.

[2019-09-17 20:15] ebellumat opened #46 "How to close inbox programmatically?"
Today we have an option to open Inbox, but no options to close inbox.

My buttons on In App Inbox have actions, but the user have to close the Inbox Modal manually to see the action happens. How to close inbox when the user call an action?

Without this, looks like the app are unresponsive.

![image](https://user-images.githubusercontent.com/26942680/65149002-afbc1800-d9f7-11e9-8763-0dcca1ebfca5.p

[2019-09-18 01:38] Aditi3 commented on #43
Hi @ebellumat @felippepuhle

Sorry for the delayed response here.

I have checked the same at my end and seems to be working rightly.

Could you please ensure you are calling CleverTap `enablePersonalization` API before calling the `profileGetProperty` method to return the value?

You can enable Personalization by calling  `CleverTapReact.enablePersonalization();` in your JS file.

Find the exampl

[2019-09-18 02:57] #45 closed

[2019-09-24 11:36] MugeshM commented on #35
I am using v0.3.4 and facing same issue. @darshanclevertap Any Idea when this will be fixed?

[2019-09-25 13:05] ebellumat commented on #46
Any update?

[2019-09-26 10:12] Aditi3 commented on #43
Hope I am able to answer your question.

Closing it, feel free to reopen if you need further help or you can also write to support@clevertap.com.

[2019-09-26 10:12] #43 closed

[2019-09-26 10:17] Aditi3 commented on #46
Closing this as it is being taken up by Support.

Thanks!

[2019-09-26 10:17] #46 closed

[2019-09-30 03:06] ianrajs opened #48 "Notification not showing on Android"
I have integrate my clevertap with push notification. And I have use the right FCM Sender ID and FCM Legacy Server Key.
When I'm trying to send test push notification on Android, It says successfully sent. But the notification now showing in my device

[2019-10-01 11:04] darshanclevertap commented on #48
@ianrajs Have you set up a Notification Channel in your app? Follow [this documentation](https://developer.clevertap.com/docs/android#section-push-notifications-for-android-o) to understand Notification Channels in Android.

[2019-10-01 11:06] darshanclevertap commented on #35
@MugeshM @nikoloz110 **Update** - We are going to fix this in the upcoming release v0.3.5 which will be released before the end of this week.

[2019-10-01 11:08] ianrajs commented on #48
Hi @darshanclevertap,
I have set up notification channel in my app like this:
`CleverTap.createNotificationChannel('test-channel', 'test-channel', 'test-channel', 5, false);`

I develop the app using react native btw

[2019-10-01 12:03] darshanclevertap commented on #48
And you are using `test-channel` while creating the Push Notification campaign in the dashboard?

[2019-10-01 12:17] ianrajs commented on #48
Yes I do

[2019-10-01 12:23] darshanclevertap commented on #48
Please set the debug level to 3 and share with me the Android Studio console logs? From app launch to when you send us a push notification. That would shed some light on what is happening with your app.

[2019-10-08 07:21] Aditi3 commented on #38
Hey, @ebellumat

We have released support for SDWebImage version 5.x

Here is the link of the latest release that comes with the SDWebImage 5.x support
https://github.com/CleverTap/clevertap-react-native/releases/tag/0.3.5

Thanks!

[2019-10-08 07:21] #38 closed

[2019-10-08 11:50] darshanclevertap commented on #35
@MugeshM @nikoloz110 @code76kb This has been fixed in v0.3.5. Closing this issue.

[2019-10-08 11:50] #35 closed

[2019-10-08 11:51] darshanclevertap commented on #48
@ianrajs Were you able to fix this issue or are you still dealing with it?

[2019-10-14 11:43] LonelyCpp opened #53 "Module 'CleverTapSDK' not found."
I have this line in my pod file
`pod 'clevertap-react-native', path: '../node_modules/clevertap-react-native'`

since im using firebase crashlytics, i cant link the SDK using `use_frameworks!` in the pod file. So i manually linked the sdk as shown here - https://developer.clevertap.com/docs/ios-quickstart-guide

but i get `(path to project) /node_modules/clevertap-react-native/ios/CleverTapReact/C

[2019-10-14 13:19] Aditi3 commented on #53
Hey @LonelyCpp

If your project configuration doesn't allow you to include **use_frameworks!** in the podfile.

I suggest installing our CleverTap React Native library with the option iOS without podspec.

Helping link for the same: https://github.com/CleverTap/clevertap-react-native/blob/master/docs/install.md#ios-without-podspec

Also, do to check out our [Demo Application](https://github.com/Cl

[2019-10-15 06:29] LonelyCpp commented on #53
I now have both `pod 'clevertap-react-native'` and `pod 'CleverTap-iOS-SDK'` in my pod file.

Not sure why that fixed the issue.

[2019-10-15 06:29] #53 closed

[2019-10-21 07:02] vogosamvelraja opened #54 "Update the iOS SDK to 3.7.0"

[2019-10-21 07:06] vogosamvelraja opened #55 "Update the iOS SDK to 3.7.0"
There is an issue clevertap iOS SDK 3.6.0 for iOS 13.

https://stackoverflow.com/questions/58064157/ios13-crash-uiwindowscene-enumeratewindowsincludinginternalwindowsonlyvisibl

Kindly update this. Or steps to update it. we are blocked on this now in our production app.

[2019-10-21 07:34] #54 closed

[2019-10-21 07:34] Aditi3 commented on #55
Hey @vogosamvelraja

We have already released the React-Native v0.3.5 in sync with our latest release that is CleverTap iOS SDK v3.7.0

Reference Change Log: https://github.com/CleverTap/clevertap-react-native/blob/master/CHANGELOG.md#version-035-3-october-2019

Here is the link of the latest release that comes with the SDWebImage version 5.x support and update to SDK v3.7.0: https://github.com/Cl

[2019-10-21 07:35] vogosamvelraja commented on #55
@Aditi3  Thanks for the quick response! Closing the same.

[2019-10-21 07:35] #55 closed

[2019-10-21 12:14] felippepuhle commented on #53
I've tried both ways and still getting this same error, using a custom fork for now.

[2019-10-29 08:40] kelvinyusuf opened #56 "Library not loaded: @rpath/SDWebImage.framework/SDWebImage"
any tutorial for integrate SDWebImage.framework?

[2019-10-30 07:41] sangupandi commented on #36
You will get the redirect URL as like as DeepLinking.
 Linking.getInitialURL().then((url) => {}) ;

[2019-10-30 17:28] ebellumat opened #57 "[Android] Expose clevertap instance for branch.io integration"
Following this guide of Branch.io, to integrate i need to implement this piece of code, but i don't have the Clevertap instance on React Native Clevertap MainApplication.java, how to solve this?

[code]

The Branch.io guide:
https://docs.branch.io/integrations/clevertap/

[2019-11-07 04:40] Aditi3 commented on #56
Hi @kelvinyusuf

Are you still facing this issue?

[2019-11-07 14:50] uraniumreza commented on #48
hey @darshanclevertap; I've created a 'test-channel' and sending a test notification from clevertap dashboard! Interestingly I'm getting this on android studio logcat -
`
D/RNFMessagingService: onMessageReceived event received
D/RNFirebaseMessaging: Received new message
`
But nothings showing on my emulator Notification tray! What's going wrong?

[2019-11-12 06:06] uraniumreza opened #58 "How to pass remote-message to RNFirebaseMessagingService if the message is not from CleverTap"
I was trying to pass the RemoteMessage to RNFirebaseMessagingService if it's not from CleverTap by this -

[code]

But I'm getting an error -

[code]

[2019-11-13 04:23] Aditi3 commented on #36
Closing it, if you need further help you can also write to support@clevertap.com.

Thanks!

[2019-11-13 04:23] #36 closed

[2019-11-13 04:24] Aditi3 commented on #56
Closing it, if you need further help you can also write to support@clevertap.com.

Thanks!

[2019-11-13 04:24] #56 closed

[2019-11-13 08:51] darshanclevertap commented on #57
@ebellumat We do have a JS method for this. You can use that to get the Attribution ID and pass it to Branch

[2019-11-13 08:52] darshanclevertap commented on #58
@uraniumreza Could you provide some more logs? From these logs, there doesn't seem to be anything wrong with CleverTap.

[2019-11-13 08:53] darshanclevertap commented on #48
@uraniumreza Are you using our FCMMessageListener or are you rendering the Push notification on your own?

[2019-11-14 12:57] sergeymorkovkin commented on #53
Tried both options and still having same error. Any advice?

[2019-11-14 13:13] felippepuhle commented on #53
@sergeymorkovkin it'll probably work if you add `use_frameworks!` to your `Podfile`, but we didn't do that... we're still using a custom fork:

[code]

[2019-11-14 14:11] sergeymorkovkin commented on #53
@felippepuhle Thanks for sharing! Will definitely use your repo, but from my perspective it's probably better to use [patch-package](https://www.npmjs.com/package/patch-package). Give it a try and you'll leverage all most recent commits from the original repo.

[2019-11-15 04:02] Aditi3 commented on #53
Hi @sergeymorkovkin

Alternatively, in your Podfile, you can add **use_modular_headers!** to enable the stricter search paths and module map generation for all of your pods, or you can add :modular_headers => true to a single pod declaration to enable for only that pod.

Give it a try and let us know how it goes for you.

[2019-11-17 05:29] uraniumreza commented on #48
Yeah, I'm using FCMMessageListener; my issue has been resolved. Thanks @darshanclevertap

[2019-11-17 05:31] #58 closed

[2019-11-17 05:34] uraniumreza opened #59 "[Android] Expose getUnreadMessages(), getAllMessages() for custom AppInbox"
We wanted to build our own AppInbox UI on react-native and by calling APIs from clevertap we'll manage showing, marking and deleting messages! Can you guys please help me with the flow?

[2019-11-18 08:06] darshanclevertap commented on #59
@uraniumreza We do not have JS methods exposed for the same in our React Native SDK for now. We will take this request as a feature enhancement and keep you posted regarding the timelines. For now, if you're willing to write native Android/iOS code for the same you can refer our documentation here for [Android](https://developer.clevertap.com/docs/android#section-creating-your-own-app-inbox) and [

[2019-11-18 08:06] darshanclevertap commented on #57
@ebellumat Is your issue resolved?

[2019-11-18 08:08] #48 closed

[2019-11-18 08:32] uraniumreza commented on #59
For now, I'm using `react-native-clevertap-inbox` npm package for the purpose but it'd be great if you guys expose those methods in this package and a proper guideline! It'll be helpful for us as the source-of-truth will be this one for any upcoming breaking changes!

[2019-11-18 17:28] ebellumat commented on #57
Yes, but i had to disable the native implementation of these guys on iOS for preventing duplication...

[2019-12-03 07:17] LonelyCpp opened #61 "duplicate symbols error when building for iOS"
Xcode throws the following linker error -

[code]

Seems like there are duplicate symbols in `libCleverTap-iOS-SDK.a` and  `libMixpanel.a`.

I'm on RN-0.61 and both the libraries are auto linked and using `use_modular_headers!` in my pod file. Both the libraries were linked and used to work fine before I put in  `use_modular_headers!` which I had to put in to use firebase.

Can't seem to figure ou

[2019-12-03 09:00] Aditi3 commented on #61
Hey @LonelyCpp

Thank you for reaching out. The iOS SDK team is already working on an update for the above conflict and you can expect a release early next week.

In the meantime, I would recommend you to drop an email to our support team (support@clevertap.com) for temporary workarounds.

Thank you.

[2019-12-03 09:00] #61 closed

[2019-12-09 09:52] LonelyCpp commented on #61
@Aditi3 any updates on this?

[2019-12-13 07:25] Aditi3 commented on #61
Hi @LonelyCpp

We have released the SDK which comes with a fix for the above conflict.
Release Link: https://github.com/CleverTap/clevertap-react-native/releases/tag/0.3.6

Thanks for your patience.

[2019-12-20 06:43] #57 closed

[2019-12-26 13:23] cursivedgreat opened #64 "'CleverTap.h' file not found"
React Native version 0.59

#import "CleverTapReactManager.h"
#import "CleverTapReact.h"

#import <UIKit/UIKit.h>

#import <React/RCTLog.h>

#import "CleverTap.h"
#import "CleverTap+Inbox.h"
#import "CleverTap+ABTesting.h"
#import "CleverTapEventDetail.h"
#import "CleverTapUTMDetail.h"
#import "CleverTapSyncDelegate.h"
#import "CleverTapInAppNotificationDelegate.h"

@interface CleverTapReactManager

[2019-12-26 13:39] Aditi3 commented on #64
Hi @cursivedgreat

If you are on RN version 0.59, I recommend you to install the previous version of the SDK that is below v0.3.6.

We did changes in the header format in our current v0.3.6 to support the latest versions of the RN 0.60.x.

[2020-01-15 17:51] Skullflow opened #67 "[Android] NoSuchMethodError: No virtual method getGooglePlayInstantParam()"
Hi,

I'm integrating Clevertap on react native v0.59.10.

I've got this error at runtime:
java.lang.NoSuchMethodError: No virtual method getGooglePlayInstantParam()Z in class Lcom/android/installreferrer/api/ReferrerDetails; or its super classes (declaration of 'com.android.installreferrer.api.ReferrerDetails' appears in /data/app/***-RSESYs2QgccRwLg-H07cZw==/base.apk!classes2.dex)
        at com.

[2020-01-15 18:09] kartikssj opened #68 "ld: 34 duplicate symbols for architecture x86_64"
I am facing this issue while integrating the react-native SDK during iOS build. Looks like some symbols conflict with another library, LRDRCTSimpleToast (from react-native-simple-toast). Please suggest how this can be fixed.

[code]

Here are my env details:

[code]

[2020-01-15 19:03] Aditi3 commented on #68
Hey @kartikssj

Thanks so much for pointing this out. We will look into it.

In the meantime, I would recommend you to drop an email to our support team (support@clevertap.com) for temporary workarounds.

[2020-01-15 19:06] Aditi3 commented on #67
Hi @Skullflow

Can you help me with the npm package version of the CleverTap React Native SDK that you are installing?

[2020-01-15 19:06] Aditi3 commented on #64
Closing it, feel free to reopen if you need further help or you can also write to support@clevertap.com.

[2020-01-15 19:07] Skullflow commented on #67
I'm using the last one (0.3.8)

[2020-01-15 19:23] Aditi3 commented on #67
Thank you for the prompt response. Surely, we will look into it.

In the meantime, I would recommend you to install the previous version of our package that is 0.3.7

[2020-01-16 06:41] kumaratulismu commented on #67
Hey @Skullflow ,

You need to include the undermentioned dependency in the build.gradle file.

**implementation 'com.android.installreferrer:installreferrer:1.1'**

It is mandatory now with the release V0.3.8 to support the Google's new Install Referrer API.

For more information you can refer : https://developer.android.com/google/play/installreferrer/library.html

[2020-01-16 09:08] Skullflow commented on #67
Hi @kumaratulismu,

I added installreferrer library and seems like to work now.

Thanks for your help.

[2020-01-16 09:52] Skullflow commented on #64
Hi, I'm using version 0.3.5 and I still have this error ('CleverTap.h' file not found).

I'm using react native v 0.59.10, I linked the project manually and I added `pod 'CleverTap-iOS-SDK'`.

Last, i tried with AND without `use_framework!`

Any tips to resolve this?

[2020-01-16 10:41] #67 closed

[2020-01-16 10:46] #64 closed

[2020-01-16 13:27] Aditi3 commented on #68
Closing this as it is being taken up by Support.

[2020-01-16 13:27] #68 closed

[2020-01-29 18:39] JamesDullaghan commented on #64
Running into this same issue. Any input would be appreciated.

[2020-01-29 18:42] Skullflow commented on #64
Hi,

you have to use modular headers in your podfile (and remove `use_framework!`, like this:
`pod 'clevertap-react-native', :path => '../node_modules/clevertap-react-native', :modular_headers => true`.

Make sure that `clevertap-react-native` is unlinked from the project.

[2020-01-31 17:18] JhonJimenezCastro opened #69 "[React-Native]'CleverTapReact/CleverTapReactManager.h' file not found"
According to "Note: Need to use @import CleverTaSK; instead of #import <CleverTapSDK / CleverTap.h> in the AppDelegate class in case if using use_modular_headers! in the podfile."
[https://github.com/CleverTap/clevertap-react-native/blob/master/docs/integration.md](url)

when using @import CleverTaSK; no option is provided to replace #import <CleverTapReact / CleverTapReactManager.h>.

Can this be

[2020-01-31 17:31] Aditi3 commented on #69
Hi @JhonJimenezCastro

You can `@import CleverTapReact;` instead of ` import <CleverTapReact / CleverTapReactManager.h>` in your AppDelegate class.

We will include this in our documentation as well.

Thanks!

[2020-01-31 17:44] JhonJimenezCastro commented on #69
This worked for me, thank you very much.

[2020-01-31 17:44] #69 closed

[2020-02-03 06:12] ajmeersha opened #70 "clevertap Android sdk version update"
u r still using sdk version 3.6.0 , but some of the clevertap features only works on sdk version greater than 3.6.1+ , when we ll get the new sdk support for react native?

[2020-02-07 15:14] krishnaff commented on #57
Looks like this won't work in JS because the "$clevertap_attribution_id" is needed **before** the Branch.initSession(...) is called.

From Branch docs
[code]
From CleverTap docs
[code]

If anyone did get this working, could you post a snippet or explain how you're achieving this please?

[2020-02-12 23:55] leekuo opened #72 "How to Unregister for Push?"
We're currently using this call to register for push notifications from Clevertap:
    CleverTap.registerForPush()

But in the use case where the user logs out of our application, we see they are still getting push notifications.  How can we unregister them from Clevertap push notifications?  I don't see anything in the docs or the React Native wrapper functions here https://github.com/CleverTap/c

[2020-02-20 10:31] Aditi3 commented on #72
Hi @leekuo

To disable push notifications for a user, set **MSG-push** to false as user property and push the user profile.
Helping documentation: https://developer.clevertap.com/docs/concepts-user-profiles#section-overview

Thank you.

[2020-02-20 16:24] ebellumat opened #73 "[iOS, Android] Native display support?"
When this feature will be added to this bridge?

https://docs.clevertap.com/docs/native-display

[2020-02-20 17:03] vaibhavgavade opened #74 "How to integrate push notification in react native android"
I wanted information about which code should be add in   android folder

[2020-02-20 17:40] ebellumat commented on #70
I Need Native display, support.

[2020-02-21 07:01] darshanclevertap commented on #74
@vaibhavgavade
For push notifications please follow the Android documentation - https://developer.clevertap.com/docs/android#section-push-notifications
Thanks

[2020-02-23 15:07] darshanclevertap commented on #70
@ajmeersha @ebellumat Guys, we are working very hard on this. Our team has limited bandwidth on this right now but rest assured we will try to get this out ASAP. I will come back to you with concrete timelines early next week.

[2020-02-24 23:20] leekuo commented on #72
Thank you @Aditi3 will give that a try!

[2020-02-26 18:58] Aditi3 commented on #72
Hi @leekuo

I am going to close this issue here. If you need further help please feel free to email support at support@clevertap.com.

Thank you.

[2020-02-26 18:58] #72 closed

[2020-02-26 19:12] Aditi3 commented on #74
Hi @vaibhavgavade

I am going to close this issue here. If you need further help please feel free to email support at support@clevertap.com.

Thank you.

[2020-02-26 19:12] #74 closed

[2020-02-27 14:14] ebellumat commented on #70
@darshanclevertap Hire me! I sure i can improve the bandwidth, guys! I will really enjoy if i can be part of the team! 😃

[2020-02-27 23:33] ebellumat commented on #59
Thanks for the tip of the package, @uraniumreza

[2020-02-28 21:02] ebellumat commented on #73
Any update?

[2020-03-02 05:45] Aditi3 commented on #73
Hi @ebellumat

[2020-03-02 06:39] Aditi3 commented on #73
Hi @ebellumat

Apologies for the delay in getting back here.
You can expect the Native Display support in our React-native SDK by mid-March.

Thank you.

[2020-03-03 14:20] ebellumat commented on #73
Thank you! I'm really excited to use this feature.

[2020-03-10 21:45] ebellumat opened #77 "[iOS] Push notification - APNSDeviceTokenNotForTopic (1)"
When i try to send a test notification, i get this message, how to solve this?

![image](https://user-images.githubusercontent.com/26942680/76362130-3a266a00-62ff-11ea-93df-54e3f2dea909.png)

[2020-03-11 20:27] ebellumat opened #78 "[iOS, Android] How to handle Custom key-value pair on Push Notification and InApp?"
In the dashboard, there is an option to send a key-value pair on push notification and inApp messages, how to get value back on this bridge? With Clevertap.getInitialUrl we only can get deep links.

![image](https://user-images.githubusercontent.com/26942680/76460778-70c2ba00-63bd-11ea-8e6d-f8b3b46de979.png)

[2020-03-12 17:46] ebellumat commented on #59
Any update, guys? This feature, native display and key-value pair from notifications and inApp are important features to keep us without.

[2020-03-14 08:34] Aditi3 commented on #77
Hi @ebellumat

Apple Push Notification service (APNs) returns this when the device token doesn't match the specified topic.

In the context of CleverTap and to resolve the above error ensure that the App bundle ID of the provisioning profile with which the application is deployed and sending the device token to CleverTap dashboard is matching the App bundle ID for which the CleverTap p12 certifica

[2020-03-16 13:17] ebellumat commented on #77
Thanks!

[2020-03-16 13:17] #77 closed

[2020-03-17 05:21] akshay-gupta-93 commented on #73
Hey do we have any update on Native Display. When exactly are you guys planning to add it.

[2020-03-17 06:39] Aditi3 commented on #73
Hi @akshay-gupta-93

We have already added support for Native Display in our development branch and currently, it's in the QA.

The release will be available in a day or two. We will keep you posted.

[2020-03-17 08:04] akshay-gupta-93 commented on #73
Thanks for the quick response. Waiting eagerly for the feature.

[2020-03-17 13:33] ebellumat commented on #78
Any update?

[2020-03-18 06:11] Aditi3 commented on #73
Hi @ebellumat @akshay-gupta-93

Here is the link of the latest release that comes with Native Display Support
https://github.com/CleverTap/clevertap-react-native/releases/tag/0.4.0

Thanks for your patience.

[2020-03-18 06:15] Aditi3 commented on #59
Hi @ebellumat @uraniumreza

Here is the link of the latest release that comes with Custom App Inbox and InApp Notification/ App Inbox kv button click listeners support
https://github.com/CleverTap/clevertap-react-native/releases/tag/0.4.0

Thanks for your patience.

[2020-03-18 07:44] akshay-gupta-93 commented on #73
Thanks @Aditi3 . I will start using it soon.

[2020-03-18 08:07] akshay-gupta-93 commented on #73
Hi @Aditi3 , Do you have any documentation on, how to use it?

[2020-03-18 12:34] Aditi3 commented on #73
Hi @akshay-gupta-93

A few helping Links:

Check out our Starter Project [here](https://github.com/CleverTap/clevertap-react-native/blob/master/Starter/App.js) to understand the implementation of Native Display.
[See the CleverTap JS Interface:](https://github.com/CleverTap/clevertap-react-native/blob/master/index.js) for getting details regarding all available methods.
Native Display User Documen

[2020-03-18 18:38] Aditi3 commented on #78
Hi @ebellumat

CleverTap provides `CleverTapInAppNotificationDismissed` and `CleverTapInAppNotificationButtonTapped` listener which return the extra custom key/value pairs set in CleverTap dashboard for the In-App notification.

Our [Starter Project](https://github.com/CleverTap/clevertap-react-native/blob/master/Starter/App.js) explains how to implement the aforementioned listeners into an Applic

[2020-03-19 04:06] akshay-gupta-93 commented on #73
@Aditi3  thanks, I will check.

[2020-03-19 04:20] akshay-gupta-93 commented on #73
@Aditi3 Now I am able to fetch native display data.I have two native display channels, and i am using

CleverTap.getAllDisplayUnits((err, res) => {
             console.log('All Display Units: ', res, err);
});

to fetch the native display unit.

This is only returning me one of the native displays. I was hoping to get both of them. Can you please check?

Also, I am not sure how to create events t

[2020-03-19 12:05] agarwalnitesh commented on #78
Hi @Aditi3

I'm sending Custom Key Pair value without using In-App notification, And unable to get back the key pair value when notification tap/open even after using CleverTapInAppNotificationDismissed and CleverTapInAppNotificationButtonTapped listener.

Please help.

[2020-03-19 12:28] LonelyCpp opened #82 "clevertap SDK needs to be declared as an `api`."
In the dependency
`implementation 'com.clevertap.android:clevertap-android-sdk:3.7.0'`

`implementation` hides the sdk from the project scope breaking the autolink react native feature. We need to manually update the sdk everytime now.

The deprecated `compile` is equivalent to `api`

[2020-03-19 12:43] Aditi3 commented on #78
Hi @agarwalnitesh

Could you tell me which medium(Push notification or In-App Notification) you're using to send key/value pairs?

[2020-03-19 12:43] darshanclevertap commented on #82
@LonelyCpp Thank you for bringing this to our notice. Could you explain how does `implementation` scope breaks the auto-link feature?

Meanwhile, I will also take a look at this as well on my end as well.

[2020-03-19 12:45] darshanclevertap commented on #70
Closing this as we've updated to the latest versions on both Android and iOS.

[2020-03-19 12:45] #70 closed

[2020-03-19 12:45] #59 closed

[2020-03-19 12:50] agarwalnitesh commented on #78
Hi @Aditi3

I am using Push notification

[2020-03-19 13:01] Aditi3 commented on #78
@agarwalnitesh

Seems like you want to handle the push notifications payload and process the user's response to a notification.

Seems similar to #31

[2020-03-19 13:18] Aditi3 commented on #78
Closing it, if you need further help you can also write to support@clevertap.com.

[2020-03-19 13:18] #78 closed

[2020-03-19 13:38] LonelyCpp commented on #82
If you see the `0.3.6` release, the [build.gradle](https://github.com/CleverTap/clevertap-react-native/blob/0.3.6/android/build.gradle), it has the sdk dependency specified as
`compile 'com.clevertap.android:clevertap-android-sdk:3.6.0'`

This results in the sdk being exposed to the consumers of the library (react native apps). Thus the consumer need not explicitly declare in the its app's app lev

[2020-03-23 16:37] Aditi3 commented on #73
Hi @akshay-gupta-93

We will be needing more details in order to assist you with the query regarding why you receiving only one Native Display at your end because the same seems to be working for us. Therefore, I request to you write to our support at support@clevertap.com. Definitely,  someone from support will help you.

Coming to tracking the Clicked and Viewed, CleverTap provides following met

[2020-03-30 15:17] darshanclevertap commented on #82
This has been fixed in v0.4.1. Closing this.

[2020-03-30 15:17] #82 closed

[2020-03-30 15:21] LonelyCpp commented on #82
Thanks :)

[2020-04-01 07:03] Aditi3 commented on #73
Closing this, if you need further help you can also write to support@clevertap.com.

Thank you!

[2020-04-01 07:03] #73 closed

[2020-04-01 07:04] akshay-gupta-93 commented on #73
Thanks.

[2020-04-14 07:13] akshaygpta007 opened #85 "Crash Fatal Exception: java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes.so"
So we are getting a crash in our React Native application. We have Clever tap SDK in it. Here is the crash log.

Fatal Exception: java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes.so
       at com.facebook.soloader.SoLoader.doLoadLibraryBySoName(SoLoader.java:738)
       at com.facebook.soloader.SoLoader.loadLibraryBySoName(SoLoader.java:591)
       at com.facebook.soloader.SoLo

[2020-04-14 10:21] darshanclevertap commented on #85
@akshaygpta007 Please check our [Install docs](- https://github.com/CleverTap/clevertap-react-native/blob/master/docs/install.md#troubleshooting-1) where we have mentioned this issue in our Troubleshooting section

[2020-04-15 08:04] akshaygpta007 commented on #85
Thanks, @darshanclevertap.

[2020-04-15 08:18] akshaygpta007 commented on #85
Hey, I just checked the codebase, we already have that code in our codebase.

see android/app

apply plugin: "com.android.application"
project.ext.envConfigFiles = [
        uat: ".env",
        prod: ".env.prod"
]
apply from: project(':react-native-config').projectDir.getPath() + "/dotenv.gradle"
apply plugin: "com.google.firebase.firebase-perf"
apply plugin: "io.fabric"

import com.android.build

[2020-04-17 09:30] LonelyCpp opened #87 "RuntimeException from "CleverTapModule.getCleverTapAPI""
We suddenly are receiving large number of crash reports from the play store. -

full stack trace -
[code]

We are looking into the issue from our implementation. Can you guys throw some light into what might be causing this issue?

[2020-04-21 12:26] Poojapandey89 opened #88 "Unable to handle the push notification payload and process notification onclick in Android"
Hi,
I want to process the received notification payload to handle onClick routing. Referring  the solution in #31 , I tried with custom handling using custom service as given in documentation and https://stackoverflow.com/questions/55350391/cannot-read-payload-of-push-notification-sent-from-clevertap-dashboard/55361276#55361276
I am receiving the notifications but I am not able to find any method

[2020-04-21 17:37] developerashish01 opened #89 "App is getting failed in compilation (Task :clevertap-react-native:mergeDebugShaders FAILED)"
* What went wrong:
Execution failed for task ':clevertap-react-native:mergeDebugShaders'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

[2020-04-24 10:27] darshanclevertap commented on #89
@developerashish01 When is this happening? Can you print detailed stack trace of the issue?

[2020-04-24 10:27] darshanclevertap commented on #89
@developerashish01 Also which version of the clevertap-react-native library are you using?

[2020-04-24 10:34] darshanclevertap commented on #87
@LonelyCpp Can you tell us which version of the library you guys are on? And can you check if moving to the latest version helps?

[2020-04-24 17:09] Poojapandey89 commented on #88
Can I please get a response on this as it is important feature and needs to be done asap.

[2020-04-27 16:25] kritikaiyeer opened #90 "App Inbox Style"
I have seen the docs and the starter example here but styling key is not available for App Inbox Content when no messages are there ie. "No Message(s) received" text how can I style the color of this text it is default white I want to change it to black

[2020-04-27 16:25] darshanclevertap commented on #88
@Poojapandey89 Sorry for the delay in replying. Are you passing the payload to the `createNotification` method as mentioned in the 2nd StackOverflow answer or are you rendering the Push Notifications on your own?

[2020-04-27 17:26] darshanclevertap commented on #90
@kritikaiyeer We do not have this as of now. Honestly, we never thought someone would want to customize that text :smile:
We'll see if we can add this to our future releases.

[2020-04-28 13:50] #90 closed

[2020-04-29 07:10] Poojapandey89 commented on #88
Yes @darshanclevertap , following the StackOverflow answer I am passing the payload to createNotification.
I want to handle the screen redirection on notification click, on the basis of notification i.e deeplinking. For that, is there any method to handle this?

[2020-04-29 17:05] kritikaiyeer opened #91 "App Inbox Deep Link"
can we deep link app inbox to our push notification cta.

 ie. if the user clicks on the notification the app inbox should be opened.

[2020-04-30 08:27] parthdani commented on #88
Hi @Poojapandey89, For Deep linking in React-native, you will have to create a schema in your Android Manifest file under Main Activity tag. So when you send a Push Notification from CleverTap and if you have mentioned this schema, we will open the Application and give the schema to your Android Manifest file which in turn will take it forward and will give the control to React-Navigation Plugin.

[2020-04-30 11:56] piyush-kukadiya commented on #85
@akshaygpta007 Can you please check and try below two links?
https://github.com/facebook/react-native/issues/25923 and [unsatisfiedlinkerror](https://stackoverflow.com/questions/57036317/react-native-java-lang-unsatisfiedlinkerror-couldnt-find-dso-to-load-libherm)

[2020-05-01 14:05] vinny3273 opened #92 "xiaomi push notification"
i didn't find xiaomi push notification documentation for react native .
right now im following https://developer.clevertap.com/docs/xiaomi-push-notifications#section-pass-token-to-clever-tap this guide but it seems insufficient . i'm getting error Log.e(TAG,"CleverTap is NULL");

there is no where written how to do this https://developer.clevertap.com/docs/xiaomi-push-notifications#section-impleme

[2020-05-01 14:58] darshanclevertap commented on #92
@vinny3273 You'll have to integrate Xiaomi Push via native Android way only. We do have a JS method to pass the token to CleverTap, you can check that [here.](https://github.com/CleverTap/clevertap-react-native/blob/master/index.js#L95)
Also, someone from my support team has shared the Broadcast Receiver sample code. Please do check that and let us know if it worked for you.

[2020-05-01 15:15] vinny3273 commented on #92
@darshanclevertap
thank you for quick response .
1- is it mandatory to pass token from JS method ? through setPushToken ?
its automatically getting captured for me right now .

2 -
i have done this part in MainActivity.java

` CleverTapAPI cleverTapAPI;

   MiPushClient.registerPush(this, "string", "string");
        String xiaomiToken = MiPushClient.getRegId(this);
        if(cleverTapAPI != null

[2020-05-01 15:17] darshanclevertap commented on #92
@vinny3273 Passing the token via JS is not mandatory.

You need to initialize the `cleverTapAPI` object in that piece of code.

Add the following line of code just before the `if` statement -

`cleverTapAPI = CleverTapAPI.getDefaultInstance(MainActivity.this)`

then the above piece of code should work for you.

[2020-05-01 15:18] darshanclevertap commented on #92
I think you have written to support@clevertap.com, so my support team said they have replied to you as well.

[2020-05-01 16:16] vinny3273 commented on #92
yes, i'm having  conversation with jay . thank you

after getting broadcast file , app is running , with debug level 2 i'm not seeing any error with app or clevertap. i'm using oneplus 7t
but when i search xiaomi related logs i get this

2020-05-01 21:23:58.659 23694-23826/com.abc.app E/ManifestChecker: com.xiaomi.mipush.sdk.x$a: Receiver: none of the subclasses of PushMessageReceiver is enabled o

[2020-05-01 17:55] darshanclevertap commented on #92
@vinny3273 I think you need to check Proguard rules for Xiaomi Push SDK. I think Xiaomi classes are getting obfuscated and it cannot find the classes inherited from PushMessageReceiver

[2020-05-01 17:58] darshanclevertap commented on #92
@vinny3273 Also check if the Broadcast Receiver you have coded is declared in the AndroidManifest.xml file

[2020-05-01 18:03] darshanclevertap commented on #91
@kritikaiyeer No it is not possible to have a deep link to the App Inbox. Configuring deep links is a prerogative of the app and the CleverTap SDK cannot define a deep link on the app's behalf. You could design your own App Inbox using our public APIs for App Inbox and create a deep link to it.

[2020-05-01 19:33] vinny3273 commented on #92
yes broadcast receiver was missing from android manifest .
thank you for the help , closing the issue now.

[2020-05-01 19:34] #92 closed

[2020-05-02 12:28] #91 closed

[2020-05-04 06:30] darshanclevertap commented on #88
@Poojapandey89 Did this help with your issue?

[2020-05-05 06:28] Poojapandey89 commented on #88
yes @darshanclevertap, the solution helped me. Thank you so much @parthdani.

[2020-05-05 07:24] #87 closed

[2020-05-07 11:19] #88 closed

[2020-05-27 09:47] piyush-kukadiya commented on #85
@akshaygpta007
I found similar issue when creating fresh react-native sample project and i solved it by replacing `implementation jscFlavor` with `implementation "org.webkit:android-jsc:r245459"`

Please let me know if it solves your issue so that i can close it.

[2020-06-08 13:19] gaelperon opened #95 "Unstable response on Android (getAllInboxMessages)"
Hello Clevertap,

We are using your react native SDK in our app.

The setup part is OK and everything is working fine on iOS, but we are facing some issues retrieving Inbox messages on Android devices.

We are facing multiple cases :
* On one android emulator (Nexus 5X, API 29) CleverTap.getAllInboxMessages returns a random value (sometimes an empty array, sometimes the expected array of inbox mes

[2020-06-12 10:20] darshanclevertap commented on #95
@gaelperon So the Inbox Messages are stored in the SDK database. Hence, you will not notice any network call when you call `getAllInboxMessages`. New messages are fetched when the App is launched and stored in the database. Once they're stored we give a callback to React Native using `CleverTapInboxMessagesDidUpdate`. You can find the [example usage here](https://github.com/CleverTap/clevertap-rea

[2020-06-12 10:43] gaelperon commented on #95
@darshanclevertap thanks! It solves my problem

Maybe you should add this explanation about callbacks in the documentation because it clarifies a lot how it works

[2020-06-12 10:53] darshanclevertap commented on #95
@gaelperon Thank you for this feedback, we will definitely take this and improve our documentation. Closing this thread as your issue has been resolved.

[2020-06-12 10:53] #95 closed

[2020-06-12 10:54] darshanclevertap commented on #89
@developerashish01 We're closing this. If you're still facing this issue, feel free to reopen this thread.

[2020-06-12 10:54] #89 closed

[2020-06-12 10:55] darshanclevertap commented on #85
@akshaygpta007 We're closing this thread. Feel free to reopen it if you're still facing an issue.

[2020-06-12 10:55] #85 closed

[2020-06-12 12:30] gaelperon commented on #95
Just one more question: what's the purpose of initializeInbox? And what happens if you don't initialize the inbox?

[2020-06-12 14:17] darshanclevertap commented on #95
@gaelperon `initializeInbox` initializes the entire App Inbox mechanism in the CleverTap SDK. None of the inbox methods will give you a result if you don't call `initializeInbox`

Also `initializeInbox` has its own callback `CleverTapInboxDidInitialize` in React Native. Once the Inbox is initialized, you should call the inbox related functions.

I'm sorry there is no detailed React Native document

[2020-06-12 15:00] gaelperon commented on #95
@darshanclevertap thanks, we were supposing that it was this behavior, but now we have confirmation.

[2020-06-12 15:04] gaelperon opened #98 "Getting error using RemoveListener on iOs"
Hi,

When I use the function `CleverTap.removeListeners() `, I have an error on iOS.
Everything is working fine on Android.

You can see the error attached
![Simulator Screen Shot - iPhone 11 - 2020-06-12 at 16 18 04](https://user-images.githubusercontent.com/5892710/84516853-acc42e80-acce-11ea-8af2-606f8077591a.png)

And here is my snippet of code :

[code]

[2020-06-15 16:10] gaelperon commented on #98
Hi @Aditi3, any idea on that issue?

[2020-06-15 16:48] Aditi3 commented on #98
Hi @gaelperon

It seems an unexpected behavior. We're executing the same code in both Android and iOS which is removing all listeners.

[code]
Please allow me some time to check the same at my end and I will get back to you with an update shortly.

Currently, if this is a blocker for you, I would recommend removing listeners at your end by calling **removeAllListener()**

Thank you!

[2020-06-29 09:45] AbdullhRtima opened #99 "jest test issue"
Hi, I face an issue with "clevertap-react-native" with jest test,
I ignore the `clevertap-react-native` but no luck still get this error :(
[code]

[2020-07-01 09:51] piyush-kukadiya commented on #99
Hi @AbdullhRtima,
Can you please provide steps to reproduce this issue?

[2020-07-08 14:15] gaelperon commented on #98
Hi @Aditi3

I see you added a fix.
Will this be included in the next release?

[2020-07-13 12:37] Aditi3 commented on #98
Hey @gaelperon

Yes, the change will be included in the next release. We're verifying the change for the Android platform and compatibility with the different versions of the React-Native.

[2020-07-17 06:31] darshanclevertap commented on #99
@AbdullhRtima Are you still facing this issue? If yes, can you please provide us the steps to reproduce and the version of ReactNative you're using?

[2020-07-29 08:16] HasanSahabGlobal opened #104 "removeListeners function kills all listners in app"
all listeners in app such as react-navigation listener to detect "swipeToBack" event on Android, and so on, killed by removeListeners function.

expected: another function to remove event by name, not all

[2020-07-29 08:17] AbdullhRtima commented on #104
up

[2020-07-29 08:48] piyush-kukadiya commented on #104
@HasanSahabGlobal @AbdullhRtima
If it's removing all non-clevertap listeners then I would suggest not to use that method. You can manually remove clevertap listeners at your end. We would be changing the logic for this method in next release.
Thanks

[2020-07-29 08:53] HasanSahabGlobal commented on #104
@piyush-kukadiya
how i can remove them manually?
you are not using the EventEmiiter from react-native, you have your own.

`const EventEmitter = NativeModules.CleverTapReactEventEmitter ? new NativeEventEmitter(NativeModules.CleverTapReactEventEmitter) : DeviceEventEmitter;`

check this line in index.js

[2020-07-29 10:27] piyush-kukadiya commented on #104
Oops! my bad, I missed that.
 @HasanSahabGlobal As of now the only solution that I can see here is avoiding calling `removeListeners`   We will be changing logic for the same in next release and probably adding an extra method to remove single listener

[2020-07-29 10:31] HasanSahabGlobal commented on #104
@piyush-kukadiya
thank you very much for fast response.

[2020-07-29 10:31] #104 closed

[2020-08-01 06:25] AbhishekTF2020 commented on #23
CleverTap.registerPush()
This method is not available now
also i have upload p8 for dev and prod still issue persist.
As dashboard is not accepting p12 which is working i cross checked

[2020-08-03 11:13] kumaratulismu commented on #99
@AbdullhRtima Can you please confirm on the issue?

[2020-08-17 15:52] gaelperon commented on #2
Hello,

It would be really nice to have a clear guide to setup push notifications with the React Native SDK.

For now, you have to cherry-pick information in ios and android guide which is very painful and confusing

[2020-08-17 15:56] gaelperon opened #105 "PushNotification integration"
Hello Clevertap,

It would be really nice to have a clear guide to setup push notifications with the React Native SDK.

For now, you have to cherry-pick information in ios guide and android guide which is very painful and confusing

[2020-08-18 06:13] Aditi3 commented on #105
Hi @gaelperon

Thank you for your feedback and apologies for the inconvenience caused to you.

We will work on updating the integration and installation guide to give a clear understanding of all modules for both platform Android and iOS. You can expect the Developer guide to be updated soon and we will keep you posted.

Best,
Aditi

[2020-08-18 06:48] gaelperon commented on #105
Well thanks.

In the ReactNative example you can see this call :

`CleverTap.setPushToken('abcdfcm', CleverTap.FCM);`

Is it for Android ? IOS ? both ?
And what should how should I get the token => 'abcdfcm' in the example

[2020-08-18 10:02] gaelperon commented on #105
When I try to test on the iOS simulator is get this error : `APNSBadDeviceToken`

The device seems to be registered in the Clevertap interface

<img width="489" alt="Capture d’écran 2020-08-18 à 12 01 02" src="https://user-images.githubusercontent.com/5892710/90500018-9b722500-e14a-11ea-93e5-d649f5827b1d.png">

<img width="1474" alt="Capture d’écran 2020-08-18 à 12 00 48" src="https://user-ima

[2020-08-18 10:05] gaelperon commented on #105
And on Android I get this error

<img width="487" alt="Capture d’écran 2020-08-18 à 12 04 45" src="https://user-images.githubusercontent.com/5892710/90500378-13404f80-e14b-11ea-90ee-268f838482a9.png">
<img width="1485" alt="Capture d’écran 2020-08-18 à 12 04 24" src="https://user-images.githubusercontent.com/5892710/90500382-14717c80-e14b-11ea-90b3-1460af695ad7.png">

I suppose I'm initializin

[2020-08-19 12:04] #98 closed

[2020-08-19 16:21] piyush-kukadiya commented on #105
@gaelperon For Android you will need to setup push notifications natively please go through [this link](https://developer.clevertap.com/docs/android#section-push-notifications)

[2020-08-19 16:26] gaelperon commented on #105
Thanks, I managed to make it work on Android following this guide.

How do you get APNS token on iOS ?

[2020-08-19 16:32] Aditi3 commented on #105
Hi @gaelperon

For iOS, use the `registerForPush` API to register and fetch the APNS token:

Helping Link: https://github.com/CleverTap/clevertap-react-native/blob/master/index.js#L88

Our Demo Application Link describing APNS implementation: https://github.com/CleverTap/clevertap-react-native/blob/master/Starter/App.js#L66

[2020-08-20 17:29] mohsinulhaq opened #107 "User location shows up as "Unknown, Unknown" on clevertap dashboard"
![image](https://user-images.githubusercontent.com/7688231/90805060-bd30ff00-e338-11ea-84b0-21390dfe0b0b.png)

As you can see, the latitude and longitude are correctly populating as a result of calling `setLocation` function. But how do we set the Location? Can't find anything in the docs.

[2020-08-21 02:54] darshanclevertap commented on #107
@mohsinulhaq The city-level location is captured from the requests which hit our back end servers. If you can't see the city-level location, I suggest you raise a support ticket from the dashboard itself and it will notify the correct team which can fix this for you.

[2020-08-21 03:51] darshanclevertap commented on #107
@mohsinulhaq Ensure that you're calling our `enableDeviceNetworkInfoReporting` method. This notifies our systems to track the requests to get city-level information as per GDPR laws. You can find the [method here](https://github.com/CleverTap/clevertap-react-native/blob/master/index.js#L206).

If the problem persists after using the above method, I would suggest raising a support ticket from the d

[2020-08-23 20:20] mohsinulhaq commented on #107
@darshanclevertap thanks, so do we have to enable only if we don't have our apps distributed outside the EU? Or does it store the location in compliance with GPDR?

[2020-08-24 02:46] darshanclevertap commented on #107
@mohsinulhaq If GDPR laws apply to your app, then you should ask the user's consent before setting this method to `true`. By default, CleverTap doesn't track the location of a user from the SDK requests.

[2020-08-24 08:01] gaelperon commented on #105
Thanks @Aditi3

How do handle deep links in iOS notifications?

It works OK on Android, but it keeps forwarding me to Safari browser in iOS.
Do you need to implement something in the AppDelegate ?

[2020-08-24 08:57] mohsinulhaq commented on #107
ok, got it, thanks a lot! @darshanclevertap

[2020-08-24 08:57] #107 closed

[2020-08-24 09:13] dattaprasadPegasus commented on #48
@darshanclevertap I am getting same issue. can you please guide....

[2020-08-24 12:16] Aditi3 commented on #105
@gaelperon I'd recommend implementing the URL Schemes/ Custom deep links/ Universal links to handle internal Deeplinks in iOS.

[2020-08-24 14:43] darshanclevertap commented on #48
@dattaprasadPegasus Have you set up a Notification Channel in your app? Follow this [documentation](https://developer.clevertap.com/docs/android#section-push-notifications-for-android-o) to understand Notification Channels in Android.

[2020-08-24 15:23] gaelperon commented on #105
I already handle deeplink via universal links in the app, but for now, when I click on the notification, it doesn't enter into the app, it directly opens Safari without calling Linking.openURL

[2020-08-24 15:51] Aditi3 commented on #105
@gaelperon It seems to be an unexpected behaviour if you're using custom deep links/ Universal links correctly.

Not sure what you are missing, hence I would suggest raising a support ticket from the dashboard which includes details of your use case and campaign link so that we can look into this further and help you in resolving the issue at the earliest.

Thank you

[2020-09-14 09:31] kumaratulismu commented on #99
@AbdullhRtima I have tried to create a sample [application](https://github.com/kumaratulismu/SampleReactNativeApp) with jest test case.

It’s working for me.

If you still face the issue please help us by forking & modifying the above app to replicate the same.

Thanks
Atul

[2020-09-14 09:31] #99 closed

[2020-09-15 06:58] rawris commented on #105
@gaelperon Can you share your code or can you guide me what you did for Android integration of clevertap? I have added everything in Androidmanifest.xml. What am I supposed to do now?

[2020-10-01 17:15] Arun-paramasivam opened #109 "Build fails in Android for both debug and release"
It was working fine till yesterday. Haven't changed any code related to clever tap or added any new packages.
I get this error today. But works fine on iOS.

When run on a Device the following error occurs:
Error: Command failed: ./gradlew app:installDebug -PreactNativeDevServerPort=8081
/Users/user/application/MobileApp/app/android/app/src/main/java/com/app/MainActivity.java:18: error: cannot acc

[2020-10-04 06:34] BMariscal opened #110 "Clear notifications"
Hello!
Which method should I call to clear notifications?
 https://github.com/CleverTap/clevertap-react-native/blob/master/Starter/App.js

Note, I don't want to unsubscribe from notifications, just clear them. Thanks!

[2020-10-04 08:23] piyush-kukadiya commented on #110
Hey @BMariscal ,
Can you please explain your use case in detail that what are you trying to achieve?

[2020-10-04 08:41] piyush-kukadiya commented on #109
@Arun-paramasivam Which SDK version are you using?

[2020-10-05 03:39] Arun-paramasivam commented on #109
Hi @piyush-kukadiya ,

My podfile.lock has the following version,
  - clevertap-react-native (0.4.5):
    - CleverTap-iOS-SDK (~> 3.8.2)
    - React
  - CTNotificationService (0.1.2)

[2020-10-05 05:46] d11-dinesh commented on #109
Getting the same error.

[2020-10-05 05:52] SauravKale commented on #109
Hi @piyush-kukadiya and @d11-dinesh ,

Could you confirm if you have added the Push Notification Callback code give in the following documents https://developer.clevertap.com/docs/android#section-push-notification-callback
https://developer.clevertap.com/docs/android#section-push-notifications

[2020-10-05 06:44] d11-dinesh commented on #109
MainActivity cannot be converted to CTPushNotificationListener

[2020-10-05 07:18] piyush-kukadiya commented on #109
@Arun-paramasivam and @d11-dinesh, ` class file for com.clevertap.android.sdk.CTPushNotificationListener not found ` seems like compiler is unable to find the class. However`com.clevertap.android:clevertap-android-sdk:3.8.2` is having `CTPushNotificationListener` defined in `com.clevertap.android.sdk` package. It's also working from my end. I would suggest you to check if this dependency is proper

[2020-10-05 08:51] Arun-paramasivam commented on #109
Hi @piyush-kukadiya ,

Adding the following receiver to the Androidmanifest file did the work,

`<receiver
            android:name="com.clevertap.android.sdk.CTPushNotificationReceiver"
            android:enabled="true"
            android:exported="false" />`

it was working fine till last week, but not sure why the previous builds were successful. It was not mentioned in the clevertap-react-na

[2020-10-05 09:39] piyush-kukadiya commented on #109
Hey @Arun-paramasivam, Adding  `<receiver android:name="com.clevertap.android.sdk.CTPushNotificationReceiver" android:enabled="true" android:exported="false" />` in manifest and `class file for com.clevertap.android.sdk.CTPushNotificationListener not found` has no connection between them, `CTPushNotificationListener` is just a callback in JAVA.

Also Sorry for documentation part, we are working on

[2020-10-06 05:40] Arun-paramasivam commented on #109
Hi @piyush-kukadiya ,

yeah, even I was wondering what was causing the error and how it got resolved. But adding those manifest file lines did the trick.

Thanks for the quick response, closing the issue since its resolved.

[2020-10-06 05:40] #109 closed

[2020-10-08 12:30] brunofrigeri commented on #48
I'm getting the same issue, how do you guys solved it?

[2020-10-13 05:56] Aditi3 commented on #110
Closing it due to inactivity, feel free to reopen if you need further help.

[2020-10-13 05:56] #110 closed

[2020-10-14 19:48] cwhenderson20 opened #112 "[Android] Compiling under/targeting SDK 30 causes crash on startup"
I've been able to reliably reproduce this startup crash on Android when targeting SDK 30 (targeting 29 shows no such issue).

[code]

`getNetworkType` is deprecated in Android 11; `getDataNetworkType` should be used instead. [Here](https://github.com/mapbox/mapbox-gl-native-android/issues/425) is a thread about the issue and [the PR](https://github.com/mapbox/mapbox-events-android/pull/492) that f

[2020-10-14 22:16] deepak-bm-ai commented on #53
pod file:
  pod 'clevertap-react-native', :path => '../node_modules/clevertap-react-native', modular_headers: true
  pod 'CleverTap-iOS-SDK', modular_headers: true

AppDelegate.m:
 @import CleverTapSDK;
 @import CleverTapReact;

worked for me. Thanks @LonelyCpp

[2020-10-15 05:44] darshanclevertap commented on #112
@cwhenderson20 We've fixed this in our core Android SDK, we'll be releasing the React Native version with this fix in a couple of days.

[2020-10-15 13:51] piyush-kukadiya commented on #112
@cwhenderson20 Release `v0.5.0` fixes this issue. Please update your package.

[2020-10-15 13:51] #112 closed

[2020-10-26 07:57] dattaprasadPegasus opened #115 "Getting error in Android SDK 16 . Clevertap initialization React native"
I am getting following error :

10-26 12:51:52.304 10829-10829/com.azam.sarafu E/dalvikvm: Could not find class 'android.app.job.JobScheduler', referenced from method com.clevertap.android.sdk.CleverTapAPI.createOrResetJobScheduler
10-26 12:51:52.684 10829-10882/com.azam.sarafu E/dalvikvm: Could not find class 'android.app.NotificationChannelGroup', referenced from method androidx.core.app.Notific

[2020-10-26 10:12] darshanclevertap commented on #115
@dattaprasadPegasus Is this a build time error or a run time crash?

[2020-10-26 11:29] dattaprasadPegasus commented on #115
It's run time crash.

On Mon, 26 Oct 2020, 3:42 pm Darshan Pania, <notifications@github.com>
wrote:

[2020-10-27 04:11] dattaprasadPegasus commented on #115
@darshanclevertap any clue ?.

[2020-10-27 18:41] darshanclevertap commented on #115
@dattaprasadPegasus Do you have the following entry in your `AndroidManifest.xml` file?
[code]

[2020-10-28 03:23] dattaprasadPegasus commented on #115
@darshanclevertap Yes, I have following lines in my AndroidManifest.xml.

<meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT" />

[2020-10-28 03:25] dattaprasadPegasus commented on #115
@darshanclevertap Yes, I have these line in my AndroidManifest.xml

<meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT" />

[2020-10-28 03:28] dattaprasadPegasus commented on #115
<meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />

        <service
            android:name="com.clevertap.android.sdk.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT" />
            </intent-filter>
        </service>

        <service

[2020-10-28 05:53] darshanclevertap commented on #115
@dattaprasadPegasus Since you're using CleverTap Android SDK v4.0.0, please remove the following from your manifest -

[code]

Please see all the breaking changes done for [CleverTap Android SDK v4.0.0 here](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md)

[2020-10-28 08:44] dattaprasadPegasus commented on #115
@darshanclevertap  I have made changes as per your suggestion but still getting runtime crash only Android < 5 ,
Crash Runtime :
10-28 14:08:15.815 4989-5017/com.azam.sarafu E/dalvikvm: Could not find class 'dalvik.system.DelegateLastClassLoader', referenced from method com.google.android.gms.dynamite.DynamiteModule.zza
10-28 14:08:15.865 4989-4989/com.azam.sarafu E/dalvikvm: Could not find class

[2020-10-29 12:21] piyush-kukadiya commented on #115
@dattaprasadPegasus How is this CleverTap issue? Please check all `caused by:` lines provided by your stack trace to fix it.

[2020-10-30 11:21] #115 closed

[2020-10-30 14:20] rajeshsoni-eezi opened #116 "Push notification for iOS app is not working on latest react native v0.63.3"
I tried the starter application provided by CT. I am able to get push notification token using starter app.
the starter application is based on 0.62.2
My application is using the latest react native version 0.63.3.

In this latest version, the pod file structure was revised. Using my application code I am not able to get a push token.

This is my pod file:

[code]

when we use use_frameworks! it s

[2020-11-02 14:35] Aditi3 commented on #116
Hi @rajeshsoni-eezi

We have updated our [Starter Application](https://github.com/CleverTap/clevertap-react-native/tree/master/Starter) to the lastest version of React native v0.63.3 and based on our testing, Push Notifications and Integration seems to be working correctly.

Could you verify integration once at your end by seeing updated Starter Application?

Also, ensure to use the `registerForPu

[2020-11-03 14:03] aamir-ans opened #118 "Read notification data"
Data receiving on firebase messaging method looks like this
`{
  "data": {
    "nm": "Notification test",
    "nt": "Test",
    "wzrk_acct_id": "TEST-###-###-###",
    "wzrk_bc": "",
    "wzrk_bi": "2",
    "wzrk_cid": "",
    "wzrk_dt": "FIREBASE",
    "wzrk_id": "0_0",
    "wzrk_pivot": "wzrk_default",
    "wzrk_pn": "true",
    "wzrk_push_amp": "false",
    "wzrk_rnv": "false",
    "wzrk_ttl":

[2020-11-04 10:49] piyush-kukadiya commented on #118
@aamir-ans I am not getting your question. I am assuming that you are looking for title, message etc. in payload
`nt` stands for `Notification Title`
`nm` stands for `Notification Body` For more info [go to step 3](https://developer.clevertap.com/docs/android#section-custom-android-push-notifications-handling)

And if you are asking for readymade methods for title, body etc. then that you will hav

[2020-11-04 14:23] rajeshsoni-eezi commented on #116
Thanks.. working now.

[2020-11-05 03:59] Aditi3 commented on #116
Glad it worked for you. Closing this.

[2020-11-05 03:59] #116 closed

[2020-11-05 09:46] piyush-kukadiya commented on #105
@rawris Are you still facing the issue?

[2020-11-05 09:48] gaelperon commented on #105
@piyush-kukadiya The issue has been solved thanks to your support.

[2020-11-08 11:20] kanapan opened #120 "How to close AppInbox When tap"
How to close AppInbox When tap deep link in messages

[2020-11-09 15:15] piyush-kukadiya commented on #120
@kanapan Why do you want to do that. For a better User experience, user must land to the same place where he had been taken off.

[2020-11-10 05:09] kanapan commented on #120
Because we want to navigate in the app, but AppInbox obstructs the rear view

[2020-11-10 09:20] piyush-kukadiya commented on #120
@kanapan Sorry but we don't have any public api for your use case. However we can consider it for future releases.

[2020-11-11 11:48] nabeelpkl opened #121 "CocoaPods could not find compatible versions for pod "CleverTap-iOS-SDK""
[code]

Getting the above error when I do `pod install`, I am using `"clevertap-react-native": "^0.5.0",`.

[2020-11-11 15:30] #121 closed

[2020-11-20 05:07] Aditi3 commented on #118
Closing it, feel free to reopen if you need further help.

[2020-11-20 05:07] #118 closed

[2020-11-20 05:08] #105 closed

[2020-11-20 12:23] shivnath17 opened #122 "How to send key/value pairs in In-App with Custom HTML?"
I want a callback (`CleverTapInAppNotificationButtonTapped`) in In-App (Custom HTML)

[2020-11-23 12:21] piyush-kukadiya commented on #122
@shivnath17 We don’t support KV Pairs in custom HTML

[2020-11-25 16:57] LonelyCpp opened #124 "Xioami push service causing crahes"
We recently integrated xiaomi's push notifications through clevertap with

`com.clevertap.android:clevertap-xiaomi-sdk:1.0.0`

We started noticing random crashes from this pushservice -

[code]

extra details:
- app is in react native. (clevertap-react-native: `v0.5.0`)
- android specific crash
- seems to happen mainly on Android 9 devices
- happens right at launch, but continues to work after cli

[2020-12-01 06:06] LonelyCpp commented on #124
Hi, I tried it on a fresh project (the starter is hard to setup because of the incompatible firebase config). It doesn't crash in this case.

Any clue as to what might be wrong? (from the stack trace)

[2020-12-01 07:31] piyush-kukadiya commented on #124
@LonelyCpp This mainly occurs when same `webview` instance is used for multiple process [check here](https://arjun30.medium.com/webview-data-directory-for-android-9-pie-d9744a1404e9).
Xiaomi hosts a service for push which runs in a different process however, Xiaomi sdk doesn’t use any webview internally.

There may be two possibilities:

1. React-native might be using webview for multiple process

[2020-12-01 07:32] #122 closed

[2020-12-01 07:32] #120 closed

[2020-12-10 07:31] aamir-ans opened #125 "iOS deep link issue"
@Aditi3
Hi I'm facing issue regarding notification:
- When iOS app is completely closed and click on notification deep linking is not working.
- When app is in foreground can't get notification.
Please help me on this.

[2020-12-10 10:22] Aditi3 commented on #125
Hi @aamir-ans

Answer to your queries described in the issue:

### When the iOS app is completely closed and click on notification deep linking is not working.

This seems to be unexpected behaviour. Hence, I would recommend writing to CleverTap Support Team with the Campaign link and integration details so that we can look into this further.

### When the app is in foreground can't get a notifica

[2020-12-14 07:50] aamir-ans commented on #125
Thanks @Aditi3 solution works.

[2020-12-14 09:58] Aditi3 commented on #125
Wonderful, great to know! Thanks so much for letting us know. Glad to hear this has been resolved.

[2020-12-14 09:58] #125 closed

[2020-12-21 16:08] aamir-ans commented on #125
@Aditi3  When click on notification in iOS some deep link URL opens safari browser ? any specific use case I'm missing? I have defined URL schemes as well but still redirecting  to safari browser

[2020-12-21 16:10] aamir-ans opened #126 "iOS deep link issue"
@Aditi3 When click on notification in iOS some deep link URL opens safari browser ? any specific use case I'm missing ? I have defined URL schemes as well but still redirecting to safari browser

[2020-12-23 00:52] melvinmt commented on #23
I would like to second this request.

We are also trying to combine FCM with Clevertap push permissions and it has been very error prone so far. It gets worse without a callback or promise because we can't tell whether Clevertap push notification succeeded before we request FCM permission.

[2020-12-23 02:24] Aditi3 commented on #126
@aamir-ans It seems to be an unexpected behaviour if you're using URL schemes/ custom deep links/ Universal links correctly.

I am not sure what have you missed here, hence I would suggest raising a support ticket from the dashboard which includes details of your campaign link so that we can look into this further and help you in resolving the issue at the earliest.

Thank you

[2020-12-23 07:07] LonelyCpp commented on #124
The issue was caused by a webview related call in MainActivity `onCreate`.

This could potentially also cause a crash if xiaomi uses a webview in their notification service **while** the app is using a webview. (we weren't able to test this)

The solution:
Delay any calls related to `android.webkit.WebView`. Any references to this class during app launch will cause the app to crash on launch. (may

[2020-12-23 07:07] #124 closed

[2020-12-31 16:09] gusparis opened #127 "Custom Key/Value pairs not being received"
@Aditi3 On the Mobile In-App messages, when sending a custom key/value pair, the `kv` field is not present on the JSON received by the SDK. I don't know if is an issue with the RN port, or with the SDK itself. Attaching xcode debugger image, with the `kv` type, but no field.

![image](https://user-images.githubusercontent.com/17435926/103417379-410dba00-4b69-11eb-92dd-8c6ea1cecb4a.png)

Edit:
The

[2021-01-01 02:04] melvinmt opened #128 "CleverTap.registerForPush(); callback"
We need to tell if registerForPush succeeded or not, how can I tell if the user accepted the push notifications when I use CleverTap.registerForPush(). Is there a callback that I can use?

[2021-01-04 06:56] Aditi3 commented on #127
Hi @gusparis We're investigating this issue at the moment. I will get back to you with an update shortly.

[2021-01-04 13:57] darshanclevertap commented on #127
@gusparis There was a bug in the "Send Test InApp" flow which was sending the wrong JSON payload to the SDK. This is being fixed by our back end teams right now. I'll keep you updated when this is fixed and deployed.

[2021-01-04 14:44] gusparis commented on #127
Thanks for your quick response.

[2021-01-04 16:24] Aditi3 commented on #128
Hi @melvinmt

CleverTap **[registerForPush](https://github.com/CleverTap/clevertap-react-native/blob/master/ios/CleverTapReact/CleverTapReact.m#L70)** internally only call the registerForRemoteNotifications() method of UIApplication to request the device token.

I would recommend adding the following methods provided by Apple in your App Delegate class to know if the device token of a user has bee

[2021-01-12 02:56] Aditi3 commented on #126
Closing this as it is being moved to support.

[2021-01-12 02:56] #126 closed

[2021-01-28 06:15] Kamal-Walia opened #129 "We've integrated xiaomi push notification, it is working fine for xiaomi phones but we are receiving crashes on oppo and realme phones majorly."
Caused by java.lang.ClassNotFoundException
Didn't find class "com.clevertap.android.sdk.pushnotification.PushConstants$PushType"

com.clevertap.android.xps.XpsConstants.<clinit> (XpsConstants.java)
com.clevertap.android.xps.XiaomiMessageReceiver.onReceiveRegisterResult (XiaomiMessageReceiver.java:8)
com.xiaomi.mipush.sdk.MessageHandleService.c (MessageHandleService.java:419)
com.xiaomi.mipush.sdk.

[2021-01-28 06:17] Aditi3 commented on #128
Closing it, feel free to reopen if you need further help.

[2021-01-28 06:17] #128 closed

[2021-01-28 11:01] piyush-kukadiya commented on #129
@Kamal-Walia What version of SDK you are using? Also post full stack trace here.

[2021-01-28 11:22] Kamal-Walia commented on #129
SDK version:- 0.4.5
Stack trace:-
Fatal Exception: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/clevertap/android/sdk/pushnotification/PushConstants$PushType;
       at com.clevertap.android.xps.XpsConstants.<clinit>(XpsConstants.java)
       at com.clevertap.android.xps.XiaomiMessageReceiver.onReceivePassThroughMessage(XiaomiMessageReceiver.java:5)
       at com.xiaomi.mipush.sdk.Me

[2021-01-28 11:54] piyush-kukadiya commented on #129
@Kamal-Walia Can you check what version of `clevertap-android-sdk` is getting downloaded in your project dependency graph. Because `0.4.5` is dependent on [clevertap-android-sdk:3.8.2](https://github.com/CleverTap/clevertap-android-sdk/tree/3.8.2/clevertap-android-sdk/src/main/java/com/clevertap/android/sdk) which does not have package `com.clevertap.android.sdk.pushnotification`. We introduced pu

[2021-01-28 12:05] Kamal-Walia commented on #129
clever tap android SDK version is 3.9.1

[2021-01-28 12:12] piyush-kukadiya commented on #129
You must use `3.8.2` for  `clevertap-react-native:0.4.5` or switch to latest SDK versions.

[2021-01-29 05:11] Kamal-Walia commented on #129
Okay will try that and will update here.

[2021-02-04 11:03] kmgaurav2611 opened #130 "How to get AB testing key in app ?"
Hi All,

I have created an A/B testing setup and created keys, segments and goals for it. I am not able to receive the key when I call the  CleverTap.getListOfStringVariable function.

My Key Name is "Button Color" whose default value is 'yellow'(string). I am calling as follows:

 `CleverTap.getListOfStringVariable("Button Color",["pink","orange"], (err, res) => {
            console.log('List of

[2021-02-04 11:21] Aditi3 commented on #127
@gusparis This is fixed and deployed to the production.

Thank you for your patience here.

[2021-02-04 11:21] #127 closed

[2021-02-04 20:38] philly25 opened #131 "App Inbox message sent with Bulletin has no replacement parameters"
Hi!

**Environment**
- React Native 0.63.3
- clevertap-react-native 0.5.0
- CleverTap Android SDK 4.0.2
[code]

**Description**

We've created Bulletin in dashboard, which should send App Inbox message with parameters.
Here is message object obtained from `getAllInboxMessages()` method:

[code]

I can see `replacements`, but there are no values for parameters such as `ba:url`, `ba:brand`, `ba:pric

[2021-02-05 00:28] gusparis commented on #127
Thank you!

[2021-02-06 18:52] andrewdazs commented on #48
This is happening with me too. I'm sending the push notification to my Android device and the notification didn't show up, the only thing I receive is this message: `RNFMessagingService  D  onMessageReceived event received`

Someone can help me?

[2021-02-08 10:20] Aditi3 commented on #130
hi @kmgaurav2611

We've deprecated Dynamic Variable Feature. I request you to write to our support team with the use-case. Someone from our support team will help you with the alternate/ equivalent [features](https://docs.clevertap.com/docs/product-experiences) available.

Thank you!

[2021-02-08 14:53] Cshayan commented on #130
@kmgaurav2611 Use the getProductConfigString() method to fetch the A/B testing key values.  Create a utility function and call this anywhere you require.

[code]
Then call it using async-await syntax.

[code]
Make sure the A/B testing is published live and that key you are fetching is being used in that A/B test.

**Note:**
For this to work, you need to call fetch() and activate() method of Clever

[2021-02-12 11:44] Arun-paramasivam commented on #48
@brunofrigeri @andrewdazs hope this helps you.

[https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md#-firebase-messaging-changes](https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTV4CHANGES.md#-firebase-messaging-changes)

They mentioned it here too
[https://developer.clevertap.com/docs/android#section-push-notifications](https://developer.clevert

[2021-02-15 10:11] darshanclevertap commented on #131
@philly25 I guess you've reached out to our support team as well. They'll be taking this thread forward.

[2021-02-15 10:11] #131 closed

[2021-02-16 03:54] Aditi3 commented on #130
Closing it, feel free to reopen if you need further help.

[2021-02-16 03:54] #130 closed

[2021-02-24 13:27] HammzaHM opened #133 "Geofencing Integration in React Native"
Hello there,
I am working on React Native project where we've implemented  CleverTap for uploading user events. Recently, I have a task of integrating CleverTap Geofencing in our application in order to take advantage of this feature.
Unfortunately there is no integration instructions for react native CT SDK.

[2021-02-24 13:56] piyush-kukadiya commented on #133
@HammzaHM We are planning to add support for this feature in React Native in upcoming release.

[2021-02-24 14:16] HammzaHM commented on #133
@piyush-kukadiya  Thank you for your reply Sir.
I hope this release is soon to be published because this feature is **very important and crucial for our application**

[2021-02-24 14:18] #133 closed

[2021-03-04 06:23] CHANDRAMOHANnegi opened #134 "On push notification click , first redirecting to web then to app"
On push notification click , first redirecting to web then  to app.
sometime it directly redirects to app .

I want it to redirect to app .

[2021-03-04 11:08] piyush-kukadiya commented on #134
@CHANDRAMOHANnegi on iOS or Android or both? Also mention SDK versions.

[2021-03-04 11:49] CHANDRAMOHANnegi commented on #134
We were using web url , and not deeplinking url

it is sorted now

[2021-03-04 11:49] #134 closed

[2021-03-05 13:24] CHANDRAMOHANnegi commented on #120
How to close notification when user click on Action button

I have a action button "Add to cart"  when user click on that , notification is not getting closed , user redirects to app.
i want to remove that notification from notification tray , after click

[2021-03-08 15:04] CHANDRAMOHANnegi opened #135 "'React/RCTEventEmitter.h' file not found"
'React/RCTEventEmitter.h' file not found

[2021-03-09 17:36] #135 closed

[2021-03-09 20:07] CHANDRAMOHANnegi opened #136 "iOS: Failed to send out test notification(s) : APNSBadDeviceToken (1)"
iOS: Failed to send out test notification(s) :
APNSBadDeviceToken (1)

I am able to get notification with clevertap test credentials when my ios phone is connected to xcode

but , I am getting this error While sending with prod credentials . i installed ipa in my ios device

[2021-03-09 20:11] CHANDRAMOHANnegi commented on #136
@Aditi3

[2021-03-09 20:14] CHANDRAMOHANnegi commented on #77
I am able to get notification with clevertap test credentials when my ios phone is connected to xcode

but , I am getting this error While sending with prod credentials . i installed ipa in my ios device

@Aditi3

[2021-03-10 02:18] Aditi3 commented on #136
Hi @CHANDRAMOHANnegi

The error specifies device token was bad. You get this error when you try to send the notification with the wrong certificate/  authentication token.

I would recommend verifying the configuration of the CleverTap dashboard. It should be APNs push mode: Development/ Production with a valid development/ production certificate or authentication token in Push Setting for iOS.

T

[2021-03-10 04:07] CHANDRAMOHANnegi opened #137 "iOS: Failed to send out test notification(s) : APNSTempBlacklisted (1)"

[2021-03-10 04:17] #137 closed

[2021-03-10 16:54] Cshayan opened #138 "Branch.IO and Clevertap Integration issue ($clevertap_attribution_id is not getting sent to Branch)"
Hey, I am integrating Branch.IO and Clevertap in react-native app following these docs:

[https://help.branch.io/using-branch/page/clevertap](url)
[https://developer.clevertap.com/docs/branch](url)

In the docs, for Android it is mentioned to call the `setRequestMetadata()` of Branch to pass the `$clevertap_attribution_id` before Branch's initSession is being called.

However, I can see in many ca

[2021-03-12 11:37] Cshayan commented on #138
@darshanclevertap @Aditi3 any update guys on this issue?

[2021-03-13 09:32] piyush-kukadiya commented on #138
@Cshayan When you call `cleverTapAPI.getCleverTapAttributionIdentifier()` do you get null value?

[2021-03-13 14:08] irohitb opened #139 "Universal Url opening in Safari instead of app"
Hey,

We have a universal link In RN which when clicked should take us to a particular screen.

We tried it by clicking on link via say whatsapp text and it works but when we tap on notification containing that link it opens web browser with that link address in the search bar and then re-directs us to the App store instead of that link in the app.

Any idea where we should look to debug our error

[2021-03-13 14:23] ansh commented on #139
Happening to me as well

@Aditi3 Any solutions?

[2021-03-14 10:33] Cshayan commented on #138
@piyush-kukadiya Yes, sometimes it gives null value, and sometimes it gives the value of the id.

[2021-03-14 14:16] #136 closed

[2021-03-15 04:20] Aditi3 commented on #139
hi, @ansh @irohitb Could you raise a support ticket from the dashboard which includes details of your campaign link, a universal link and project configuration so that we can look into this further and help you in resolving the issue at the earliest.

Thank you!

[2021-03-15 06:07] Aditi3 commented on #129
Closing it due to inactivity, feel free to reopen if you need further help.

[2021-03-15 06:07] #129 closed

[2021-03-15 06:43] piyush-kukadiya commented on #138
@Cshayan Are you using `googleAdId` ? and what is `clevertap-react-native` version?

[2021-03-15 09:03] Cshayan commented on #138
@piyush-kukadiya Yes I am passing GAID/AAID to Branch. And the clevertap-react-native version is 0.5.0.

[2021-03-15 14:56] irohitb opened #140 "Changes to iOS Documentation"
Hey, Should've probably opened some in iOS git repo but they have huge issue checklist.

Anyway, Here are the changes/things which might be wrong with your documentation

1. Clevertap recommends to start from step 2 for iOS sdk. Link for which is slightly  wrong.

Currently: https://developer.clevertap.com/docs/ios-quickstart-guide#section-step-2-add-clever-tap-credentials
Should Probably be: http

[2021-03-16 03:53] Aditi3 commented on #140
Thank you @irohitb for taking the time to bring this to our attention.

I have raised a request to our documentation team with the aforementioned changes. You can expect the changes to be live in a day or two. Thanks again!

[2021-03-18 17:08] CHANDRAMOHANnegi commented on #139
I am also facing this issue ,but i am using two schemes for my app .

kiranakartlinks://onelink.me/yAp8/f2fb755c

myApp://user/post

this is the standard which you can use foe deeplink , this will redirect user to app

[2021-03-18 17:10] CHANDRAMOHANnegi commented on #139
1.   https://mamaearth.in/product-category/hair     => redirecting to safari

 2.  mamaearth://product-category/hair         => redirecting to app

[2021-03-18 17:19] CHANDRAMOHANnegi opened #141 "Deeplinking not working on click on notification when app is closed"
When app is in background , i am able to receive notification and on click on notification , deeplinking  redirect to correct screen.

when app is in foreground , open   , then i am not receiving notification

when app is closed then on click on notification  , app is opening but not redirecting to correct screen . means it just opens app

[2021-03-19 04:48] #140 closed

[2021-03-19 11:19] Cshayan commented on #138
@piyush-kukadiya Any update on the issue?

[2021-03-19 11:43] piyush-kukadiya commented on #138
@Cshayan Use `CleverTapProfileDidInitialize` callback and look for CT attribution ID on that callback and then give it to Branch. `CleverTapProfileDidInitialize` will make sure that` cleverTapAPI.getCleverTapAttributionIdentifier()` value is non-null.

[2021-03-19 13:12] Cshayan commented on #138
@piyush-kukadiya Thanks for the update. Is there any docs or code snippet on how to use this? I am not getting anything related to `CleverTapProfileDidInitialize` callback in the documentation.

[2021-03-22 16:16] Aditi3 commented on #141
Please refer to the response here - https://github.com/CleverTap/clevertap-react-native/issues/125#issuecomment-742427995

Duplicate of #125

[2021-03-23 11:05] Cshayan commented on #138
@piyush-kukadiya Please provide any link of docs for the above implementation.

[2021-03-23 12:17] piyush-kukadiya commented on #138
https://github.com/CleverTap/clevertap-react-native/blob/master/Starter/App.js#L50

On Tue, 23 Mar, 2021, 16:36 Shayan Chatterjee, ***@***.***>
wrote:

[2021-03-23 12:59] Cshayan commented on #138
@piyush-kukadiya I am writing the logic of sending the clevertap attribution id in Native side in Java, but the link you provided is in JavaScript. Can't we not implement this callback logic in Native side using Java?

[2021-03-24 02:45] Aditi3 commented on #141
Closing this thread.

[2021-03-24 02:45] #141 closed

[2021-03-31 09:27] irohitb commented on #139
For anyone facing this issue:

[code]

[2021-03-31 09:27] #139 closed

[2021-04-07 05:01] Cshayan commented on #138
@piyush-kukadiya Any update on how to implement the above callback in native side using Java? The link you shared has to be implemented in JavaScript side which is not the correct place to send the attribution id.

[2021-04-07 08:37] piyush-kukadiya commented on #138
@Cshayan Try this out https://github.com/CleverTap/clevertap-android-sdk/blob/master/clevertap-core/src/main/java/com/clevertap/android/sdk/CleverTapAPI.java#L2255

[2021-04-07 18:51] CHANDRAMOHANnegi opened #144 "CleverTap.CleverTapInboxDidInitialize is not working"
CleverTap.addListener(CleverTap.CleverTapInboxDidInitialize, (event) => { _handleCleverTapInbox(CleverTap.CleverTapInboxDidInitialize, event); });

   CleverTap.createNotificationChannel(NOTIFICATION_CHANNEL, NOTIFICATION_CHANNEL, NOTIFICATION_CHANNEL, 5, false);

   CleverTap.initializeInbox();

this listener is not working , _handleCleverTapInbox function is never running

1 . open app without c

[2021-04-07 19:23] #144 closed

[2021-04-14 13:31] piyush-bm-ai opened #146 "Deeplink not working (I am using universal deeplinks)"
Hi @Aditi3 ,
I referred this issue: https://github.com/CleverTap/clevertap-react-native/issues/125#issuecomment-742427995

Am able to get notifications when app is in foreground and background, but deeplink is not working.

My AppDelegate File:
[code]

Also, this is the correct way to create a deeplink notification, right?
<img width="1176" alt="Screenshot 2021-04-14 at 7 00 25 PM" src="https://us

[2021-04-14 13:32] piyush-bm-ai commented on #146
For context - the deeplink url does work properly when directly opened from text message.

[2021-04-15 14:06] piyush-bm-ai commented on #146
Hi @Aditi3,
Apart from prev issue (deeplink not working with universal deeplinks),
A small update from my side... I moved to URI Scheme from universal deeplink, and deeplink is working now when app is in foreground, but not when it's in background.

My AppDelegate.m file:

[code]

[2021-04-15 14:34] clind-arthur opened #147 "can not build ios project"
/Users/clind/clind/clind-phoenix/node_modules/clevertap-react-native/ios/CleverTapReact/CleverTapReactManager.m:11:9: fatal error: 'CleverTap+ABTesting.h' file not found
#import "CleverTap+ABTesting.h"
        ^~~~~~~~~~~~~~~~~~~~~~~
1 error generated.

"clevertap-react-native": "^0.5.0" with  CleverTap-iOS-SDK (3.9.3) on Podfile.lock

[2021-04-15 14:49] Aditi3 commented on #147
@clind-arthur, Can you please try downgrading CleverTap iOS SDK to version 3.9.2 or below by specifying the following code in your podfile:

`pod 'CleverTap-iOS-SDK', '3.9.2'`

We have removed support for the deprecated Dynamic Variable and Visual Editor, part of the CleverTap+ABTesting.h header in the latest 3.9.3 which is resulting in the error for you. We have a plan to incorporate the same cha

[2021-04-15 15:00] Pierre-CLIND commented on #147
Thx @Aditi3 And How can we do this on a ReactNative project?

Because on Podile we have:

`  pod 'clevertap-react-native', :path => '../node_modules/clevertap-react-native'
`

[2021-04-15 15:07] Aditi3 commented on #147
@Pierre-CLIND yes, you can.

[2021-04-19 07:09] mouryaavadhesh commented on #109
This is not working for me. Still getting the error

[2021-04-19 15:48] fblacklotus commented on #146
same issue. deep linking is working fine when we paste it to the safari . it redirects to our App but when we comes from clever tap in app message it will not open it will render just search results..

[2021-04-19 18:54] CHANDRAMOHANnegi opened #148 "Xiomi push notification"
I have done following configuration for xiomi push notification

  1 .  https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTXIAOMIPUSH.md

  2 .  implementation 'com.clevertap.android:clevertap-xiaomi-sdk:1.0.0'     => in app build gradle

but this is not working

@Aditi3

i am not  adding MiPush_SDK_Client_3_8_6 .

should i add this

[2021-04-20 06:30] piyush-kukadiya commented on #148
@CHANDRAMOHANnegi `MiPush_SDK_Client_3_8_6`  is already added by CleverTap. What issue you are facing. Also tell us what sdk version are you using for `clevertap-react-native`, `clevertap-android-sdk` .

[2021-04-20 06:31] piyush-kukadiya commented on #138
@Cshayan Did this work for you?

[2021-04-20 06:35] Aditi3 commented on #146
@piyush-bm-ai I quickly verified the deeplink functionality in the killed, background and foreground state for the Push Notification channel and it seems to be working at my end.

At present, I'm not completely sure why the same is not working at your end. Hence I would recommend you to raise a support ticket from the CleverTap dashboard which includes details of your campaign link, a universal li

[2021-04-21 05:25] vipulRajput opened #149 "iOS notification with DeepLink issue"
@Aditi3

Hi I followed all the iOS dev-Docs steps to integrate the CleverTap but I'm facing issue regarding notification with deeplink:-

* I'm getting notifications in all cases (when when is terminated, in foreground or in background).
* But when I click on notification, it just triggers app then quickly redirects to safari (instead it should redirect user to required screen)

Please help me on

[2021-04-23 09:32] LonelyCpp commented on #147
Why would this major change in ios-sdk be released as a **patch** update!? The ios-sdk pod should have been released as a major release (minor at least) to prevent pod from auto-upgrading ☹️

IMO `~>` should be removed to enforce the pod version here https://github.com/CleverTap/clevertap-react-native/blob/53e627ce896a560437b2b3c3847ba35c9f746431/clevertap-react-native.podspec#L21

[2021-04-25 02:12] #146 closed

[2021-04-25 15:35] Aditi3 commented on #149
I am assuming that you want to understand why your deeplink is opening in the browser. Here's a brief understanding of how deep links works on the iOS platform.

There are two types of Deeplinks:

1. External: typically of the type http/https, which redirect you externally (out of the app) to a certain web page/website. 
2. Internal: This deep link is configured by the app developer in the app, ca

[2021-04-25 15:41] Aditi3 commented on #149
@vipulRajput Closing this issue here as it is being taken by our support team.

[2021-04-25 15:41] #149 closed

[2021-04-29 08:30] sangupandi opened #152 "Need Update for CleverTap React Native SDK to Support Core SDK-4.1.0"
**Need Update for CleverTap React Native SDK to Support Core SDK-4.1.0**

Xioami &  huawei push service tokens were not switched to new profiles in Clevertap, For these we need to update the Core CleverTap SDK to 4.1.0 .

I am using clevertap react native version :-0.5.0  { It is not supporting the Latest Core SDK version } , Kindly release the upgraded
react native clevertap SDK version as soon a

[2021-04-29 10:33] darshanclevertap commented on #152
@sangupandi We're working on updating our React Native SDK to support CT Android SDK v4.1.0 and we'll be releasing it as soon as possible

[2021-04-29 15:03] AndrewMorsillo commented on #147
Why was a breaking change released as a patch update? This cost me valuable time today.

[2021-05-05 11:39] #147 closed

[2021-05-05 12:32] clind-arthur commented on #147
just tested to remove pod 'CleverTap-iOS-SDK', '3.9.2'
under pod 'clevertap-react-native', :path => '../node_modules/clevertap-react-native'
and pod update

and the issue is still there.

[2021-05-05 13:06] Vishal0201 commented on #147
@clind-arthur yes its not resolved yet, i am still getting the same issue.

[2021-05-05 13:17] Aditi3 commented on #147
Hi @Vishal0201 @clind-arthur

Did you update to our latest release [v0.5.1](https://github.com/CleverTap/clevertap-react-native/releases/tag/0.5.1)?
It working fine at our end and in our [Starter Project](https://github.com/CleverTap/clevertap-react-native/tree/master/Starter).

[2021-05-05 13:17] LonelyCpp commented on #147
works for me. (you have to update the version in package.json to 0.5.1, and run pod update)

[2021-05-05 13:56] Vishal0201 commented on #147
yes its working now !

[2021-05-06 06:26] piyush-kukadiya commented on #152
@sangupandi Update to `0.5.1`

[2021-05-06 06:26] #152 closed

[2021-05-06 06:27] piyush-kukadiya commented on #148
Closing as inactive

[2021-05-06 06:27] #148 closed

[2021-05-06 06:28] piyush-kukadiya commented on #138
Closing as inactive

[2021-05-06 06:28] #138 closed

[2021-05-07 15:46] CHANDRAMOHANnegi commented on #109
Solved issue by updating     "clevertap-react-native": "^0.5.0"

[2021-05-08 16:46] CHANDRAMOHANnegi opened #159 "variable HmsInstanceId not found"
[code]
  https://developer.clevertap.com/docs/clevertap-huawei-push-integration#section-pass-token-to-clever-tap

For HUAWEI INTEGRATION  i have done.
I have added configuration for root and app level build gradle ,and added `  agconnect-services.json` to app root only .

[code]

added these lines to create method , but dont know from where I will get these variables
AGConnectServicesConfig and Hm

[2021-05-11 06:50] piyush-kukadiya commented on #159
@CHANDRAMOHANnegi Did you added hms dependency?

[2021-05-13 07:39] ShubhamBathe-KM opened #161 "error: cannot find symbol CleverTapAPI.setUIEditorConnectionEnabled(false)"
I am getting this error all of a sudden while trying to run or create a debug build for android. It was working fine 2 days ago. I am using latest version of clevertap npm package(v 0.5.1). Please help me resolve this as soon as possible. Attaching a screenshot of error message on android studio for your reference.

I have done these imports in MainApplication.java file:-

[code]
These are my proj

[2021-05-13 07:52] piyush-kukadiya commented on #161
@ShubhamBathe-KM We have removed Product experiences(Dynamic Variables) feature from `0.5.1` onwards.
https://github.com/CleverTap/clevertap-react-native/blob/master/CHANGELOG.md#version-051-5th-may-2021

[2021-05-13 07:52] piyush-kukadiya commented on #161
You must remove that feature from your code

[2021-05-13 08:58] ShubhamBathe-KM commented on #161
@piyush-kukadiya Thanks for your quick response. So as you told I commented out this code
`// CleverTapAPI.setUIEditorConnectionEnabled(false);` but now my app is crashing just after its gets launched. I also tried to downgrade "clevertap-react-native" to version "^0.5.0". Still getting the same error.

[2021-05-13 10:41] frzkn commented on #161
I also faced the same issue, I fixed it by downgrading to ```0.5.0```
    `"clevertap-react-native": "0.5.0"`

The version ```0.5.1``` introduced a breaking change which isn't backwards compatible therefore I think there should've been a major version bump, Kindly follow correct semantic versioning as I think this update broke a lot of apps using this library.

[2021-05-13 16:10] ShubhamBathe-KM commented on #161
@frzkn I tried this `"clevertap-react-native": "0.5.0"` as well. Didn't work for me. Need some concrete solution for this problem.

[2021-05-13 16:33] piyush-kukadiya commented on #161
@ShubhamBathe-KM can you post error stack trace

[2021-05-13 16:54] ShubhamBathe-KM commented on #161
Sure @piyush-kukadiya
**Here is the error stack trace from terminal:-**

<img width="971" alt="Screenshot at May 13 22-20-11" src="https://user-images.githubusercontent.com/67695272/118158608-a50a8e00-b439-11eb-95cb-a4dbcbaf842e.png">

**Also sending same in text format:-**

/Users/webwerks/Desktop/Shubham/KM/pnp2-rn-app/android/app/src/main/java/com/khelomore/pnp/MainApplication.java:58: error: c

[2021-05-14 02:48] gusparis commented on #161
You should update your readme with this information.

[2021-05-14 08:32] piyush-kukadiya commented on #161
https://user-images.githubusercontent.com/61137760/118243313-ee032680-b4bb-11eb-993f-a59603f9f285.mov

@gusparis We have added information regarding removing code related to Product Experience (Dynamic Vars) in our Release Notes and ChangeLog. Still, if it caused inconvenience to you then sorry for that.

@ShubhamBathe-KM , We have verified the installation and integration of the latest version in

[2021-05-14 13:29] ShubhamBathe-KM commented on #161
@piyush-kukadiya Thanks for the video support. I was able to successfully run my project now after making the needed changes. Just request you to update the documentation and example project in the repository as soon as possible. That would be really great!!

[2021-05-14 13:29] #161 closed

[2021-05-15 16:39] CHANDRAMOHANnegi commented on #159
IFor HUAWEI INTEGRATION i have done.
I have added configuration for root and app level build gradle ,and added agconnect-services.json to app root only .

what import statement should i use in MainActivity , to import AGConnectServicesConfig and HmsInstanceId
@piyush-kukadiya

[2021-05-20 12:18] CHANDRAMOHANnegi commented on #159
do i have to create a Push service class which will extend HmsMessageService class.

[2021-05-20 13:31] CHANDRAMOHANnegi commented on #159
import com.huawei.agconnect.config.AGConnectServicesConfig;
import com.huawei.hms.aaid.HmsInstanceId;

[2021-05-20 13:31] CHANDRAMOHANnegi commented on #159
import com.huawei.agconnect.config.AGConnectServicesConfig;
import com.huawei.hms.aaid.HmsInstanceId;

[2021-05-20 13:31] CHANDRAMOHANnegi commented on #159
import com.huawei.agconnect.config.AGConnectServicesConfig;
import com.huawei.hms.aaid.HmsInstanceId;

[2021-05-20 13:51] #159 closed

[2021-05-22 18:30] arcsoft-bhanwar opened #162 "cannot find symbol CleverTapAPI.setUIEditorConnectionEnabled(false);"
Hi Team CT,

I'm facing below issue while generating APK in react-native app.

``> Task :app:compileReleaseJavaWithJavac FAILED
D:\www\arcgatein\React_Native\cactus_react_native_app\Discovery\android\app\src\main\java\com\discovery\MainApplication.java:63: error: cannot find symbol
    CleverTapAPI.setUIEditorConnectionEnabled(false);
                ^
  symbol:   method setUIEditorConnectionEnabl

[2021-05-23 06:33] piyush-kukadiya commented on #162
duplicate of #161

[2021-05-23 06:33] #162 closed

[2021-05-26 16:14] aamir-ans opened #164 "iOS notification opens safari browser"
@Aditi3 When I click on the notification it opens in browser instead of app. The issue with push notification has a deep link with an http/https URL. I'm using latest clevertap SDK. Kindly let me know if any changes require on configuration side.

[2021-05-26 16:27] Aditi3 commented on #164
Hi @aamir-ans ,

Could you refer to the comment [here](https://github.com/CleverTap/clevertap-react-native/issues/149#issuecomment-826343713) and it seems to be a duplicate of #149 & #139.

[2021-05-27 13:09] aamir-ans commented on #164
@Aditi3 Thanks that works, now the problem is I'm not getting any event when app is completely closed, notification click just opens the app. It's working fine for foreground and background.

[2021-05-27 17:08] aamir-ans commented on #164
@Aditi3 I'm not getting any data or event when click on notification while using Custom key-value pairs in notification. This happens when app is completely closed and notification clicked.
Kindly help me on this.

[2021-05-28 10:23] Aditi3 commented on #164
@aamir-ans looking into this today. We'll keep you posted.

[2021-05-31 13:29] aamir-ans commented on #164
@Aditi3 Any update on this issue ?

[2021-05-31 13:41] Aditi3 commented on #164
For push notifications, launched from killed state you need to implement following piece of code, the reason being when the app starts from the killed state, React Native takes some time to initialize the JS Core. Due to this the push notification click callback fired by OS is missed in RN. The callback is fired earlier than RN listeners get set up.

In your `AppDelegate.m` file, under `didFinishL

[2021-06-04 16:39] cccolo opened #165 "setDebugLevel"
The method setDebugLevel not are showing logs

[2021-06-04 18:08] darshanclevertap commented on #165
@cccolo Have you tried it the way shown in the Sample app?
https://github.com/CleverTap/clevertap-react-native/blob/master/Starter/App.js#L70

[2021-06-04 18:17] cccolo commented on #165
Yes,  I used **CleverTap.setDebugLevel(3);** the same mode to example.....  I should be see the debug log in console ??? I using the version 0.5.1

[2021-06-04 19:26] parthdani commented on #165
@cccolo Could you please help me with your CleverTap Account Id and your official Email address?

Regarding CleverTap.setDebugLevel(3); -> This will help you to see the log in Android Studio -> Logcat for Android and in Xcode -> Console for iOS.

If you have more question on this, please do share with me the above details. So will connect with you on a separate email thread.

[2021-06-07 10:32] Aditi3 commented on #164
I hope it worked for you. I'm going to close this thread feel free to reopen it if you need further help.

[2021-06-07 10:32] #164 closed

[2021-06-15 10:12] akshayjai1 commented on #147
yes, simply upgrading to clevertap-react-native 0.5.1 works

[2021-06-16 08:53] jfbn commented on #164
Hi @Aditi3,
We have been using CleverTap for a few weeks now, and I have just yesterday identified that this problem is occurring for us as well.
From reading your replies in this thread and in the other similar threads, I still do not understand how to solve the issue.
In one of the other threads you wrote this:

I don't understand that this should be the default behaviour at the OS level. If it

[2021-06-16 09:22] jfbn opened #166 "Should setPushToken be called explicitely?"
Upon integrating this library I struggled with getting push notifications to work. Somewhere along the process I stumbled upon[ this part of the JS interface](https://github.com/CleverTap/clevertap-react-native/blob/master/index.js#L111) which describes a method that can be used to manually set the push device token to the Clevertap profile.

I didn't see this mentioned anywhere in the integration

[2021-06-17 12:22] piyush-kukadiya commented on #166
@jfbn `setPushToken()` is an equivalent of [this native functionality](https://developer.clevertap.com/docs/android#section-custom-android-push-notifications-handling). You can use it if you are custom handling push notification.

[2021-06-17 14:00] jfbn commented on #166
Thank you for your reply.

So the answer to my last question "What is the correct approach to informing Clevertap of my push device token" is: do nothing, unless I am handling push notifications in a custom manner. Which I don't think I am.

[2021-06-17 14:04] piyush-kukadiya commented on #166
Correct

[2021-06-23 12:10] pranshuchittora opened #167 "Not able to invoke event listener on CleverTap.CleverTapPushNotificationClicked"
Hi,
I am trying to listen to the notification click by referencing the provided starter project. Unfortunately, the callback is not getting invoked on click.
[code]

https://user-images.githubusercontent.com/32242596/123094031-09ae0500-d44a-11eb-8fee-379f21a10a3f.mov

Let me know if I am doing anything wrong here.

[2021-06-23 14:32] piyush-kukadiya commented on #167
@pranshuchittora You get this callback only when app is running, if you want it when app is in killed state then use this workaround => https://github.com/CleverTap/clevertap-react-native/commit/be647bab97081bbec8d8a8d7faaaa944bf4a877f

[2021-06-24 08:05] pranshuchittora commented on #167
@piyush-kukadiya thanks for quick response.

I tried this but it is not getting invoked even when the app is running (in foreground )

For the native workaround is there any way to abstract this process inside CT-React Native SDK because applying this native workaround requires some good amount of maintainability. And the whole idea of RN is to abstract the native part as much as possible.

[2021-06-24 13:23] piyush-kukadiya commented on #167
@pranshuchittora For foreground case it's working for me.  Regarding abstract out native workaround, if possible we will do that based on other priorities and let you know once we release the same.

https://user-images.githubusercontent.com/61137760/123269923-0e8fb900-d51d-11eb-83a9-ab6f5ae79c52.mov

[2021-06-25 09:20] pranshuchittora commented on #167
@piyush-kukadiya I upgrade my CT SDK to v4 and it is working when the app is in the foreground but only for notifications sent via CT campaigns not from firebase cloud messaging.

Is there any way to handle click for notifications **not sent with CT campaigns** (like firebase or FCM API)?

[2021-06-28 10:09] #166 closed

[2021-07-01 16:09] Aditi3 commented on #165
Closing this due to inactivity

[2021-07-01 16:09] #165 closed

[2021-07-05 15:04] DeniferSantiago commented on #99
Link returns 404 error

[2021-07-08 08:30] jfbn commented on #128
Thank you for this response. I too would like to be able to pass a callback to the `registerForPush` method to know if the registration was successfull or not.

For those of us that are only React-Native devs and don't know the internals of the native side, how would I go about exposing the result from your suggestion to the React-Native side of things?

[2021-07-08 08:52] mohit23x opened #168 "rSequence"

[2021-07-08 08:53] #168 closed

[2021-07-16 10:26] piyush-kukadiya commented on #167
@pranshuchittora I assume you must be using plugin for non CleverTap push providers who will provide click functionality.

Refer this if you want custom handling https://developer.clevertap.com/docs/android#section-custom-android-push-notifications-handling

[2021-07-30 04:13] mohit23x opened #173 "Crash: CTInboxActivity"
Unable to destroy activity: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.clevertap.android.sdk.CTInboxStyleConfig.isUsingTabs()' on a null object reference

Brand:LGE
Model:Nexus 5X
Orientation: Portrait

Stack trace
[code]

We are not using the Inbox in our app, hence not even call the method `CleverTap.initializeInbox();`

app/build.gradle
[code]

 mainActivity.j

[2021-07-30 06:52] piyush-kukadiya commented on #173
@mohit23x Crash is occurring in `onDestroy()` of `CTInboxActivity` and we start `CTInboxActivity` only if you call `showInbox()`. Please share full stacktrace.

[2021-07-30 07:25] mohit23x commented on #173
Fatal Exception: java.lang.RuntimeException
Unable to destroy activity {com.razorpay.payments.app/com.clevertap.android.sdk.inbox.CTInboxActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.clevertap.android.sdk.CTInboxStyleConfig.isUsingTabs()' on a null object reference

[code]
@piyush-kukadiya

[2021-08-11 15:36] gaston-munoz commented on #31
@Aditi3

There is no solution for React Native, a way to add an event listener or subscriber ??
The solution is only native ??

[2021-08-12 04:15] Aditi3 commented on #167
Closing it, feel free to reopen if you need further help.

[2021-08-12 04:15] #167 closed

[2021-08-12 04:27] Aditi3 commented on #31
Hi @gaston-munoz If you want to read the custom extras key-value pairs passed in CleverTap Push Notification Campaigns, then you can implement `CleverTapPushNotificationClicked` event listener.

[Here's the reference code]( https://github.com/CleverTap/clevertap-react-native/blob/master/Starter/App.js#L68).

[2021-08-12 05:20] gaston-munoz commented on #31
Hello @Aditi3, good, thanks for that.

Exists one solution for suscriber click notification when the app is closed??
I need read the customs pairs key-value and in my tests not call the listeners

Other, exists subcriber to clicked in-app notificatio s??

[2021-08-12 10:45] Aditi3 commented on #31
@gaston-munoz For push notifications, launched from the killed state you need to implement the following piece of code, the reason being when the app starts from the killed state, React Native takes some time to initialize the JS Core. Due to this the push notification click callback fired by OS is missed in RN. The callback is fired earlier than RN listeners get set up.

In your `AppDelegate.m` f

[2021-08-12 12:53] gaston-munoz commented on #31
@Aditi3

Ok, thanks,  I'm going to try, is there a similar solution for Android?

[2021-08-13 08:17] piyush-kukadiya commented on #31
@gaston-munoz If i get your question correctly then you can try this out https://github.com/CleverTap/clevertap-react-native/commit/be647bab97081bbec8d8a8d7faaaa944bf4a877f for `Android`

[2021-08-13 16:28] gaston-munoz commented on #31
@Aditi3 Thanks, works in ios!!

Testing the `android` solution proposed by @piyush-kukadiya

[2021-08-13 18:46] gaston-munoz commented on #31
Hello @piyush-kukadiya!

I am not a specialist in native code, do you have that solution for kotlin?

[2021-08-17 06:28] Md-Mudassir47 opened #175 "Multiple CleverTap ID's issue for a single user"
The **onUserLogin** method is generating multiple Id's when a user logs out and then login back its identifying it as a separate entity..why? also why there's no **onUserLogsOut** method? by which it will clear out the reference of the existing user and when a new user tries to log in it wont conflict with the previous user.

`` CleverTap.onUserLogin({
            Identity: response.id,

[2021-08-17 12:49] gaston-munoz commented on #31
Maybe you can refer me to some resource to get the solution in Kotlin?

[2021-08-23 10:21] piyush-kukadiya commented on #173
@mohit23x Without calling `showInbox()` this crash is not possible, please re-verify your code and provide any other useful information that might be missing.

[2021-08-23 13:11] piyush-kukadiya commented on #31
@gaston-munoz Try this out (in **Kotlin**):

[code]

[2021-08-25 02:40] gaston-munoz commented on #31
@piyush-kukadiya thanks for that!

I was also able to see this test project and it has worked for me, so I already have it working.

In case it works for someone, I'll leave it here

Thanks to those who have contributed

URL: https://github.com/parthdani/CleverTapReactKotlin

[2021-09-02 02:51] Aditi3 commented on #31
Glad it worked for you! Closing this thread

[2021-09-02 02:51] #31 closed

[2021-09-07 04:30] Aditi3 commented on #175
Hi @Md-Mudassir47 Here's the brief documentation about how CleverTap manages user identity - https://docs.clevertap.com/docs/how-profiles-merge

If you have more queries around the same I request you to write to our support team with your use case.

[2021-09-07 04:47] Aditi3 commented on #173
@mohit23x It's been a long time since we've heard from you. We'd like to follow up with you on this issue. Does it persist? If yes, can you provide us with any other useful information that helps us in debugging further?

[2021-09-07 07:47] #175 closed

[2021-09-08 05:55] shrmaky commented on #30
I was integrating in React Native `0.65`

In Podfile -

pod 'clevertap-react-native', :path => '../node_modules/clevertap-react-native', modular_headers: true
pod 'CleverTap-iOS-SDK', modular_headers: true

In AppDelegate.m, changed to -
[code]

I am able to build now.

cc @Aditi3

[2021-09-08 05:56] shrmaky commented on #53
I was integrating in React Native `0.65`

In Podfile -

pod 'clevertap-react-native', :path => '../node_modules/clevertap-react-native', modular_headers: true
pod 'CleverTap-iOS-SDK', modular_headers: true

In AppDelegate.m, changed to -
[code]

I am able to build now.

[2021-09-08 05:58] shrmaky opened #187 "In RN 0.65 Clevertap integration fails iOS builds by following documentation"
To fix this, i am not sure whether this is right implementation or not but made these changes -

In Podfile -

pod 'clevertap-react-native', :path => '../node_modules/clevertap-react-native', modular_headers: true
pod 'CleverTap-iOS-SDK', modular_headers: true

In AppDelegate.m, changed to -
[code]

I am able to build now.

Can clevertap team work on a solution here?

[2021-09-09 01:15] Aditi3 commented on #187
@shrmaky Could you please check our [Troubleshooting Documentation ](https://github.com/CleverTap/clevertap-react-native/blob/master/docs/install.md#troubleshooting) under that, we have explained installation and integration using  `use_modular_headers!`

Also need to use @import CleverTapSDK; instead of #import <CleverTapSDK/CleverTap.h> and @import CleverTapReact; instead of #import <CleverTapRe

[2021-09-13 05:46] Aditi3 commented on #173
Closing due to inactivity.

[2021-09-13 05:46] #173 closed

[2021-09-17 04:04] Aditi3 commented on #187
Closing this thread, feel free to reopen if you need further help.

[2021-09-17 04:04] #187 closed

[2021-09-30 08:10] tanveersalmangkn opened #192 "App Crashing on Android on start when integrating clevertap"
I have integrated clevertap in my react native app. it's working fine on iOS and making the app on android side crash on every start. Getting these couple of errors
**TypeError: null is not an object (evaluating 'CleverTapReact.CleverTapProfileDidInitialize')**
**Invariant Violation: Module AppRegistry is not a registered callable m
<img width="914" alt="Screen Shot 2021-09-30 at 1 10 31 PM" src="

[2021-09-30 08:21] piyush-kukadiya commented on #192
@tanveersalmangkn I would suggest you to look at sample project for proper understanding of usage. Same thing is working in our sample app.

[2021-09-30 08:41] tanveersalmangkn commented on #192
@piyush-kukadiya I tried that as well but same. Could you please help me out here? I don't know whats wrong. Working for iOS but not android.

[2021-09-30 09:58] piyush-kukadiya commented on #192
@tanveersalmangkn Can you share sample app where issue is reproducible?

[2021-09-30 10:16] tanveersalmangkn commented on #192
App keeps crashing on the start, I have followed the example app as well and did all the stuff which was mentioned there.
<img width="709" alt="Screen Shot 2021-09-30 at 3 15 45 PM" src="https://user-images.githubusercontent.com/51949068/135437120-a791e99e-3a45-4a0e-9d8c-57fa7cc6c6a3.png">

[2021-09-30 10:20] piyush-kukadiya commented on #192
@tanveersalmangkn So your saying our example app as well is crashing on start?

[2021-09-30 10:23] piyush-kukadiya commented on #192
Also Can you check this out once https://stackoverflow.com/questions/43604603/module-appregistry-is-not-registered-callable-module-calling-runapplication @tanveersalmangkn

[2021-09-30 10:28] tanveersalmangkn commented on #192
@piyush-kukadiya
Nope I'm not talking about the example app, I have implemented the steps as mentioned in example but keeps crashing.

[2021-09-30 11:53] piyush-kukadiya commented on #192
@tanveersalmangkn That's what I said earlier, if you can share sample app with me which showcase a crash then I can help you.

[2021-09-30 12:05] tanveersalmangkn commented on #192
@piyush-kukadiya
you want me to share the code or what?

[2021-09-30 12:06] tanveersalmangkn commented on #192
@piyush-kukadiya this is AndroidManifest.xml
`
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.helwa">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android

[2021-09-30 12:06] tanveersalmangkn commented on #192
@piyush-kukadiya
MainActivity.java
`
package com.app.helwa;

import android.content.Intent;
import android.os.Bundle;
import android.os.PersistableBundle;

import androidx.annotation.Nullable;

import com.app.helwa.MainApplication;
import com.clevertap.android.sdk.CleverTapAPI;
import com.clevertap.react.CleverTapModule;
import com.facebook.react.ReactActivity;

public class MainActivity extends R

[2021-09-30 12:09] tanveersalmangkn commented on #192
@piyush-kukadiya
this is MainApplication.java

`package com.app.helwa;

import android.app.Application;
import android.content.Context;
import android.os.Handler;
import android.os.Looper;
import android.util.Log;

import com.clevertap.android.sdk.ActivityLifecycleCallback;
import com.clevertap.android.sdk.CleverTapAPI;
import com.clevertap.android.sdk.pushnotification.CTPushNotificationListener;

[2021-09-30 12:10] tanveersalmangkn commented on #192
@piyush-kukadiya
Please have a look and let me know

[2021-09-30 12:19] tanveersalmangkn commented on #192
@piyush-kukadiya
After a lot of struggle I was able to solve this issue by removing the `node_modules` and installed via `yarn install`
It worked like a charm.

[2021-09-30 12:19] #192 closed

[2021-09-30 12:19] piyush-kukadiya commented on #192
@tanveersalmangkn Above code snippet is not helping me to spot any issue.

1. Create a new sample app project with required CleverTap features
2. This sample app should showcase a crash
3. Commit your project to github and share with me.
4. I will clone and check for crash, will fix it and let you know for any integration related issue.

Hope this clarifies what I am asking for.

[2021-09-30 12:20] piyush-kukadiya commented on #192
@tanveersalmangkn That's great. You are awesome!

[2021-09-30 12:22] tanveersalmangkn commented on #192
@piyush-kukadiya
Thanks for the help! Cheers

[2021-10-16 08:27] iAtharZaib commented on #48
Hi there. Facing same issue. App notifications working fine. But not the ones sent from clever tap.

[2021-10-27 06:18] yudawar opened #193 "cannot get Inbox data in getAllInboxMessages Android"
hi, i got this issue on my project.
when i try to `getAllInboxMessages` it works fine. but when i try on android i got nothing from `getAllInboxMessages`. did i mis some step ?

i have change ClevertapId and clevertap token on androidM `AndroidManifest.xml` and add this mandatory dependencies to `/app/build.gradle` :

[code]
but stil cannot get the data on android.

react native SDK version :
`"cl

[2021-11-16 09:20] piyush-kukadiya commented on #193
@yudawar Can you please upload sample project which reproduces issue. We will fix any integration steps you have missed in same sample.

[2021-11-16 11:17] pranshuchittora opened #194 "CleverTap Android v4.3.0 SDK support"
When we can expect v4.3.0 upgrade/support.

<img width="593" alt="Screenshot 2021-11-16 at 4 45 23 PM" src="https://user-images.githubusercontent.com/32242596/141975743-50dcf7db-7900-47da-8a12-df13c5ab1d0f.png">

Good Day

[2021-11-16 12:16] darshanclevertap commented on #194
@pranshuchittora CleverTap Android SDK v4.3.0 is live. What is your concern here?

[2021-11-16 12:23] pranshuchittora commented on #194
@darshanclevertap React Native SDK is still using v4.2
https://github.com/CleverTap/clevertap-react-native/blob/f388e07c6b8b9555f9295be4e1f395b68d42479d/android/build.gradle#L42

[2021-11-16 12:33] darshanclevertap commented on #194
@pranshuchittora Yes, we're currently working on getting the support for Android 12 related changes to our React Native and other hybrid SDKs. I'll provide an ETA for the new React Native SDK with CleverTap Android SDK v4.3.0 changes in a few days.

1. Are there any breaking changes?
A. No breaking changes as such for React Native. All the changes are handled by the Android side.

I hope that answ

[2021-11-24 12:00] vvscode opened #195 "How to detect that inbox is closed?"
In my app I do show something like `Inbox (5)` where `5` is number of unread messages which I do receive with `getInboxMessageUnreadCount`.

When user opens inbox that number can be changed (as soon as he read the messages). How can I detect, that inbox was closed and users is returned back to my app?
Do not see any related API

[2021-11-24 14:38] vvscode opened #196 "Carousel message doesn't work properly on iOS"
`react-native-clevertap: 0.6.0` (started with `0.5.1` and update didn't help)

on Android it looks fine - I see a carousel, I can swipe images and on tap, link is opened

on iOS - I see only first image, no signs that there is something else, tap does nothing

[2021-11-25 02:43] Aditi3 commented on #196
Can you please confirm if you have installed our [image carousel](https://github.com/CleverTap/CTNotificationContent) and [single media](https://github.com/CleverTap/CTNotificationService) libraries to enable sending Carousel Image for iOS Mobile Push?

You’ll have to integrate our [image carousel](https://github.com/CleverTap/CTNotificationContent) library into your iOS to enable the carousel.

[2021-11-29 12:01] AbdullhRtima opened #197 "Task :clevertap-react-native:compileDebugJavaWithJavac FAILED M1 mac book pro"
`Currently detected usages in: root project 'Waseet', project ':app', project ':clevertap-react-native', ...

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.9/userguide/command_line_interface.html#sec:command_line_warnings
520 actionable tasks: 4 executed

[2021-11-29 13:11] piyush-kukadiya commented on #197
@AbdullhRtima Seems like issue with JDK path, Try setting valid JDK path from Studio. https://stackoverflow.com/questions/19608742/how-to-set-java-sdk-path-in-androidstudio

[2021-11-30 08:36] AbdullhRtima commented on #197
@piyush-kukadiya  thanks solved the issue + NDK was missing

[2021-11-30 08:36] #197 closed

[2021-11-30 09:10] vvscode opened #201 "App crashes on the notification for `app launched` event"
I set up an app with clevertap. Add test campaign to show notification on app start and finally I have the situation that app starts, notification is shown and app crashes

Even though I do call
[code]
only after user logged in (so I do expect that no notifications should come, as `registerForPush` is not called)

In bugsnag I have next:

[code]

It happens only on Android

[2021-11-30 09:24] vvscode commented on #201
In campaign errors block I see ```

  | 2 | Undefined user property found and acceptedProfile Property: Country | 11 | Nov 30, 11:13 AM
-- | -- | -- | -- | --
  | 2 | Undefined user property found and acceptedProfile Property: Vehicle | 11 | Nov 30, 11:13 AM
  | 2 | Undefined user property found and acceptedProfile Property: Status | 11 | Nov 30, 11:13 AM
  | 2 | Undefined user property found and

[2021-11-30 10:02] vvscode commented on #201
and it looks like a crash happens after closing incoming notification

![image](https://user-images.githubusercontent.com/6904368/144026574-8b99c242-f49b-4002-8eeb-abf1bc4b9cc9.png)

[2021-12-02 00:30] Aditi3 commented on #196
I'm going to close this issue for now. Feel free to reopen if you have further questions.

[2021-12-02 00:30] #196 closed

[2021-12-11 04:39] mohit23x commented on #194
@pranshuchittora the version [0.7.0](https://github.com/CleverTap/clevertap-react-native/releases/tag/0.7.0) now supports android SDK 4.3.1 🎉

[2021-12-21 11:24] ravi-roxiler opened #202 "Xiaomi Push notification integration"
Can anyone tell is it necessary to change the main activity file while integrating xiaomi i have completed first 3 steps as shown in the document but in MainActivity file i haven’t changed anything.

[2022-01-04 08:07] deepsingh11421 opened #203 "Support for android sdk v4.4.0"
When can we expect the support for the latest android sdk v4.4.0? @darshanclevertap

![image](https://user-images.githubusercontent.com/53794402/148028167-83fa331d-357a-4fb9-8f24-c5d9f3dc01fa.png)

[2022-01-24 05:49] shamshad17 opened #208 "custom key-value from push notification"
How can I get **key value pairs** from push notification in react native. I couldn't  find any way get this. Please help.

[2022-01-28 10:29] 0xsaranonearth opened #209 "'CleverTapSDK/CleverTap.h' file not found in React Native iOS"
I suppose this is a duplicate thread but couldn't get any solution out of the already available threads.

Getting this `'CleverTapSDK/CleverTap.h' file not found` on React Native iOS when I try to build the app. Would be great if there is a solution.

"clevertap-react-native": "^0.8.0"
"react-native": "0.64.2"

[2022-01-30 07:18] akashvercetti commented on #209
@0xsaranonearth We'll try to reproduce this on our end. In the meantime, could you please try running the Example project in the sdk and see if it helps?

[2022-01-31 11:39] darshanclevertap commented on #203
@deepsingh11421 CleverTap React Native SDK v0.8.0 has been released which supports CleverTap Android SDK v4.4.0.
Please star/watch this repo to get updates on new releases.

[2022-01-31 11:39] #203 closed

[2022-01-31 11:40] darshanclevertap commented on #202
@ravi-roxiler can you please share the link to the document are you referring?

[2022-01-31 11:40] #194 closed

[2022-01-31 11:44] darshanclevertap commented on #195
@vvscode Are you trying this on Android or iOS? In Android, you can write your own ActivityLifecycle callback which will give you a callback whenever an Activity is created/finished. You can then update the count there.
We do not provide any callback on the Activity being closed.

[2022-01-31 11:46] darshanclevertap commented on #201
@vvscode As per the stack trace shared by you, it seems to be your Metro server is not running properly when the App is created. Can you share a sample code where this error is happening? It will help us debug this faster

[2022-01-31 11:50] darshanclevertap commented on #208
Hi @shamshad17 You need to add the CleverTap listeners as shown in the [Example here](https://github.com/CleverTap/clevertap-react-native/blob/52f0de2e49ccc15aea99e400f118d2a93da6a03e/Example/App.js#L1005)

If you have already tried this and are still facing an issue, please share a sample code with us so that we can help you debug.

[2022-02-01 07:58] piyush-kukadiya commented on #193
@yudawar Wants your permission to create test campaign on your test account.

[2022-02-01 08:27] shamshad17 commented on #208
Works Thanks.

It gives type script error `Property 'CleverTapPushNotificationClicked' does not exist on type 'typeof import("~../node_modules/clevertap-react-native/index")`. You can add ts documentation for this also, it will be helpful for others.

[2022-02-01 09:56] piyush-kukadiya commented on #208
@shamshad17 Thanks for reporting this. We will add it.

[2022-02-07 13:59] shamshad17 commented on #208
@darshanclevertap Unable to get data from push notification in android while app in not running. If app is in background its works fine. This is happing in android only. iOS works fine.

[2022-02-09 06:34] Md-Mudassir47 opened #210 "Clevertap failing to record new events"
From the past few days, clevertap has stopped recording the new events, the old events are being recorded & shown in the user activity section but the new event isn't being shown. I checked the logs using postman. the event is being sent but on the user's activity screen the event is not being shown.

### Postman request
<img width="402" alt="Screenshot 2022-02-09 at 11 56 19 AM" src="https://user

[2022-02-09 06:59] darshanclevertap commented on #210
@Md-Mudassir47 Can you share the Xcode console logs when an event is fired from CleverTap?

[2022-02-09 08:05] Md-Mudassir47 commented on #210
<img width="740" alt="Screenshot 2022-02-09 at 1 33 04 PM" src="https://user-images.githubusercontent.com/85115578/153149209-5f464ded-7135-418d-820b-e9fd479e9a8c.png">

[2022-02-11 14:04] Md-Mudassir47 commented on #210
@darshanclevertap any updates on this?

[2022-02-15 08:34] vvscode commented on #195
i need it for both

[2022-02-15 08:48] darshanclevertap commented on #195
@vvscode Really sorry, we do not have any callback for the Activity being closed right now. We will be taking up this request into our roadmap. As a workaround, you can compute the unread message count every time your Inbox UI component is getting rendered on the screen using our `getInboxMessageUnreadCount` method

[2022-02-15 08:49] darshanclevertap commented on #201
@vvscode is this still happening?

[2022-02-17 09:09] piyush-kukadiya commented on #202
@ravi-roxiler Closing this due to inactivity. Feel free to reopen in case of any issues.

[2022-02-17 09:09] #202 closed

[2022-02-17 09:23] piyush-kukadiya commented on #201
@vvscode Closing this due to inactivity. Feel free to reopen in case of any issues.

[2022-02-17 09:23] #201 closed

[2022-02-17 09:24] piyush-kukadiya commented on #193
@yudawar Closing this due to inactivity. Feel free to reopen in case of any issues.

[2022-02-17 09:24] #193 closed

[2022-02-21 18:43] gciluffo commented on #37
Does anyone know of a way to configure the credentials during runtime? In other words is there a React Native method exposed to do this? Or do the credentials have to be configured during build time? @Aditi3

[2022-03-07 21:22] MuckT commented on #208
Seeing the same thing here: https://github.com/valora-inc/wallet/issues/2087 .

I've updated to the most recent version of [clevertap-react-native 0.8.0](https://www.npmjs.com/package/clevertap-react-native), but I am still seeing this issue.

Code for adding our listeners is below; This is working on IOS, but not Android.
[code]

[2022-03-09 19:23] MuckT commented on #208
@piyush-kukadiya yes that is exactly what I am seeing. One strange behavior is on Android when the app is closed using `getInitialUrl` appears to be working fine on Android 12.

[code]

[2022-03-10 11:42] piyush-kukadiya commented on #208
@MuckT Can you check once Is this happening when deeplink redirects user to a screen which is already visible.
For example user is interacting with Launcher Screen and notification comes and click redirects to the same Launcher Activity. (This scenario is not handled by us since we provide click callback and deeplink redirection in oncreate() of lifecycle callback where as above scenario is meant

[2022-03-22 03:23] ahsanTradeling commented on #99
same issue , any solution?

[2022-03-22 07:52] shubhamS-vs opened #220 "Push amplification"
Do we have option to integrate push amplification in react native?
as in the guidelines react native compatibility is not there
![Screenshot 2022-03-22 at 1 49 35 PM](https://user-images.githubusercontent.com/83690733/159446937-a2223e72-0e88-47d0-becd-c575aadf20d4.png)

[2022-03-23 06:52] shubhamS-vs opened #221 "how to setup common identifier between Firebase and CleverTap in react native for real time uninstalling?"
how to setup common identifier between Firebase and CleverTap in react native for real time uninstalling?

[2022-03-24 05:38] piyush-kukadiya commented on #208
@MuckT We have got support ticket from you. To avoid confusion and maintain only one thread I am closing this issue.

[2022-03-24 05:38] #208 closed

[2022-03-24 12:26] ghtjiann4321 opened #222 "null is not an object (CleverTapReact)"
Hi,

I am having this error when requiring the clevertap-react-native in the App.js of our react native application

![Screenshot from 2022-03-24 20-23-13](https://user-images.githubusercontent.com/37067647/159915558-59a75a5f-4794-45de-b507-837a87d652fe.png)

We are using expo and android studio emulator for testing.

[code]

Additional logs in terminal

[code]

[2022-03-25 06:12] piyush-kukadiya commented on #222
@ghtjiann4321 I feel it's related to metro server. Please check below.

[2022-03-25 06:21] piyush-kukadiya commented on #220
@shubhamS-vs Yes. Please go through [this](https://developer.clevertap.com/docs/android-push#push-amplification)

[2022-03-25 06:22] piyush-kukadiya commented on #221
@shubhamS-vs Please check these kind of queries with our support team.

[2022-03-25 06:22] #221 closed

[2022-03-28 09:45] DivyaJariwala610 commented on #23
@Aditi3 I have used CleverTap.registerPush() before registering for FCM but still getting the same error. Also checked both approach  APNS key and certificate.

[2022-03-30 10:04] ghtjiann4321 commented on #222
We are using Expo and we tried testing it on a different machine but the issue is still the same.

This is how we create the Expo App.
![image (2)](https://user-images.githubusercontent.com/37067647/160806366-4918b96e-dd33-4673-aa7c-e679df73fb19.png)

[2022-04-04 09:39] darshanclevertap commented on #222
@ghtjiann4321 Are you using the managed workflow or the Bare workflow on Expo? I'd suggest you eject your Expo app and then try re-installing the CleverTap React Native SDK.

[2022-04-04 09:39] #220 closed

[2022-04-04 09:40] darshanclevertap commented on #210
@Md-Mudassir47 Sorry for the delay, are you still facing this issue?

[2022-04-04 09:42] darshanclevertap commented on #209
@0xsaranonearth We were not able to reproduce this. If you are still facing this issue, please let us know by reopening this issue.

[2022-04-04 09:42] #209 closed

[2022-04-04 10:16] Md-Mudassir47 commented on #210
Nope. apparently, there was a limit to the number of events that we can define, and we had exceeded the limit so discarded the unused events, and its working fine now. And please do specify this in your docs about the events limit and try to provide access to unlimited events for the paid users.

[2022-04-04 10:59] darshanclevertap commented on #210
@Md-Mudassir47 We have the docs related to [Event constraints here](https://docs.clevertap.com/docs/platform-considerations#general-constraints). We do not provide unlimited events, but if you have a genuine use case to increase the number of events, please reach out to CleverTap Support via the Dashboard.

[2022-04-04 10:59] #210 closed

[2022-04-05 10:04] ghtjiann4321 commented on #222
Will try that thank you for the reply

[2022-04-12 11:51] ghtjiann4321 commented on #222
[darshanclevertap](https://github.com/darshanclevertap) Thanks for the reply. Unfortunately we are already integrating other services that are compatible and are working with the managed workflow so we cannot eject and refactor every integration we have done. Can you check on the clevertap side what seems to be the error when using the library on the expo application?

[2022-04-21 10:04] smn-snkl commented on #222
We are also considering switching back to OneSignal due to the missing Expo support. Is there any other workaround to make it work?

[2022-04-27 22:44] yasserwaseet opened #224 "Implicit PendingIntent error from Google Play Store"
Google play with the title Implicit PendingIntent, said Your app contains an Implicit Internal Intent vulnerability.
<img width="824" alt="Screen Shot 2022-04-28 at 1 41 45 AM" src="https://user-images.githubusercontent.com/94108503/165643365-4fe15502-8d26-48a2-9e37-570fac537bc3.png">

[2022-04-28 04:38] piyush-kukadiya commented on #224
@yasserwaseet This warning will not affect your app releases.
CleverTap Android SDK v4.3.0 onwards, we started supporting Android 12 and mutability flags to all our Pending Intents. Targeting your app to latest clevertap version and Android 12 will solve this error.

Clevertap Android SDK v4.3.1 is supported by clevertap-react-native [v0.7.0](https://github.com/CleverTap/clevertap-react-native/rel

[2022-04-28 22:17] mathioni-tc commented on #99
To fix this issue for me, i just create a file: `__mocks__/clevertap-react-native.ts`
[code]

[2022-05-03 07:30] shubhamdeol opened #227 "How to use Push Template introduced in android sdk 4.4.0"
How to use push templates introduced in latest android sdk with latest version of clevertap-react-native.

What are native side changes required ?

https://github.com/CleverTap/clevertap-android-sdk/blob/master/docs/CTPUSHTEMPLATES.md#template-keys

[2022-05-04 07:32] root-ansh-ct commented on #227
Hi, @shubhamdeol .

Support for clevertap push templates for React-native is given from v0.8.1

1. in your package.json class, set `"clevertap-react-native": "^0.8.1"` and run `npm install`
2. in the `android/app/src/main/java/<your_package_name>/<your_application_class>.java` , add this line before onCreate : `CleverTapAPI.setNotificationHandler((NotificationHandler)new PushTemplateNotificationHa

[2022-05-04 07:35] shubhamdeol commented on #227
I do not need to make change in FirebaseMessagingService.java file?
[code]

[2022-05-04 12:18] #227 closed

[2022-05-12 06:22] sai-cosmofeed opened #229 "CleverTap?.profileSet and CleverTap?.onUserLogin is not creating and updating profile"
## System Information
1. "react": "17.0.2",
2. "react-native": "0.65.1",
3. **"clevertap-react-native": "^0.8.1"**,

## Code

[code]

[2022-05-12 06:48] piyush-kukadiya commented on #229
@sai-cosmofeed Please share debug logs by adding
[code]

[2022-05-12 07:07] sai-cosmofeed commented on #229
I tried this no logs is returning in terminal

[2022-05-14 03:33] khanhkom opened #232 "Push notification for ios"
I tried to push notification to ios devices and get this error "No registration IDs/Profiles specified". I had add .p12 for push notifitaion, when i check profile in clever tap ios is Not Reachable.

[2022-05-16 04:43] akashvercetti commented on #232
Hi @khanhkom , Could you please show us how are you setting up push notifications in the app? Also, could you double check your code with this [documentation](https://developer.clevertap.com/docs/react-native-push-notification#ios) ?

[2022-05-16 10:34] darshanclevertap commented on #222
@ghtjiann4321 @smn-snkl Really sorry but we do not have Expo support for the Bare workflow. You will have to eject your app from the Bare Workflow and integrate our React-Native SDK manually for CleverTap to work in your app.

[2022-05-16 10:34] #224 closed

[2022-05-16 10:37] piyush-kukadiya commented on #229
@sai-cosmofeed Seems like integration issue. Please contact our support team for smooth integration support.

[2022-05-16 10:37] #229 closed

[2022-05-20 05:29] raminfoo opened #233 "Android 12 Custom key-value pairs not displyed app logo & title"
Android 10 working fine, As we are receiving the app logo and title at the top. But android 12 not working.

<img width="307" alt="Screenshot 2022-05-20 at 10 59 07 AM" src="https://user-images.githubusercontent.com/3131955/169457102-78904fdf-7f13-4766-9ed3-7461d6797deb.png">

[2022-05-31 10:30] bharatbrovitech commented on #72
@Aditi3 - https://github.com/CleverTap/clevertap-react-native/issues/23#issuecomment-1141958084

[2022-06-09 12:11] DivyaJariwala610 opened #235 "Push Impression For iOS"
i have added [[CleverTap sharedInstance] recordNotificationViewedEventWithData:request.content.userInfo] in notification Extension still Push Impression is not capture  in  Dashboard. It's working fine in Foreground but not working in background and killed state.

[2022-06-13 04:42] akashvercetti commented on #235
HI @DivyaJariwala610 , could you please double check if everything has been followed as per this document, specially the `Dummy Profile Creation` part: https://developer.clevertap.com/docs/ios#push-impressions

[2022-06-13 13:38] FSAish opened #237 "Event"
Wanted to check if there is any event that gets fired when we tap on button inApp notification and provide open URL.

` CleverTap.addListener(
      CleverTap.CleverTapInAppNotificationButtonTapped,
      (event: any) => {
        console.log('CleverTapInAppNotificationButtonTapped Event called - ', event);
....`

This log never gets called
I get event only when I add custom key value pair.

[2022-06-14 04:16] DivyaJariwala610 commented on #235
@akashvercetti Yes, i have double-checked all the steps which are given in the document. Seems everything looks perfect.
Also, How can I pass Identity/ Email in the Notification Service extension?

[2022-06-24 04:57] khanhkom opened #238 "Push notification on android not working!"
I am using Xiaomi and config all clevertap mobile push. I am using FCM to push notification on android. I test push notification to device by find user on dashboard but i can't receipt any notification in my device. But, i get FCM token from Clevertap and using it to send notification in https://testfcm.com, it working well.

[2022-06-24 05:46] william-ct commented on #238
Hey @khanhkom While configuring FCM with CleverTap, did you add/create notification channel for you app? Also have you setup FCM credentials on your CleverTap dashboard?

[2022-06-24 08:13] khanhkom commented on #238
Yes, i had create channel notification in my app by using function: createNotificationChannel. i checke the chennel was created. And i also setup FCM credentials by add Sender ID and Server key get from firebase console. But i can not show this credential in Clevertap to check it because it alway show ***.

[2022-06-24 08:14] khanhkom commented on #238
![image](https://user-images.githubusercontent.com/44663895/175493583-ff52472f-9d28-4437-8b9e-4892b56f5aa0.png)

[2022-06-24 08:14] khanhkom commented on #238
![image](https://user-images.githubusercontent.com/44663895/175493638-67580391-b206-4895-8657-f69f104a1076.png)

[2022-06-24 08:15] khanhkom commented on #238
Results is success but i can not receipt any notification on my real device (xiaomi redmi 9T)

[2022-06-24 08:55] khanhkom commented on #238
![image](https://user-images.githubusercontent.com/44663895/175500532-2392646a-3ecb-488f-bf0b-4087f405f0b5.png)
 I fogot setup this line. After add this to AndroidManifest.xml, notification work okela.

[2022-06-24 08:55] #238 closed

[2022-06-25 06:46] Cshayan opened #239 "Custom event getting triggered in before identity being set for the user profile"
Hi,

In our app, when user logs in we set the idenity of the user in clevertap with an unique identifier and after that we trigger a custom event for that login event. But in clevertap dashboard for the user profiles we are seeing - that custom event getting triggered first and then identity of the user being set.

Is there a way I can get to know the identity has been set and then propbably trigg

[2022-06-27 04:13] Cshayan commented on #239
hi @darshanclevertap can you please look into this?

[2022-06-27 05:26] william-ct commented on #239
Hi @Cshayan Currently in our SDK, we do not provide any callbacks for `onUserLogin()` and setting the Identity of the user is a backend driven event. So right now you can't trigger a custom event based on Identity Set

[2022-07-04 07:41] bohrend opened #240 "React Native V0.59 (pre-AndroidX) integration"
Hi,
What version of clevertap can I use for pre-androidx integration in react-native project (v0.59). I tried latest, and adding
[code]

[2022-07-05 09:09] JHSoriano opened #241 "React Native IOS Deeplink has different behavior"
Hi all. i noticed that on the IOS has this Pods/CleverTap-IOS-SDK/CleverTap.m that is being called for the deeplinking at function _checkAndFireDeepLinkForNotification. but since i am using Linking on react-native i need this to be override instead so that i can manipulate the linking on the react native side instead on the objective-c. is there a much detailed documentation on this? because the s

[2022-07-05 09:30] akashvercetti commented on #241
HI @JHSoriano , We'll look into this. please allow us some time to check and get back to you 👍

[2022-07-11 05:10] akashvercetti commented on #241
@JHSoriano , while we look into this, could you check the example app in our sdk? It uses `Linking` and there is a method to handle deeplink URL on the react side called `_handleOpenUrl` . Could you check it out once and let us know if this is what you're looking for?
Here is the relevant sample app file: https://github.com/CleverTap/clevertap-react-native/blob/52f0de2e49ccc15aea99e400f118d2a93da6

[2022-07-15 11:37] bohrend opened #242 "Android app just closes"
after adding the required clever tap meta-tags inside application tag in the manifest, when I launch my android app on a physical device the app just closes immediately, but it works on the emulator.

logs show:

 --------- beginning of crash
2022-07-15 15:03:53.671 18739-18771/? E/AndroidRuntime: FATAL EXCEPTION: Thread-4
    Process: com.shop2shop, PID: 18739
    java.lang.SecurityException: get

[2022-08-05 10:45] CatWithNineLives opened #243 "'CleverTap.h' file not found"
I am implementing iOS push impressions for my react native app with CleverTap already integrated.
Using this [guide](https://developer.clevertap.com/docs/push-notifications-ios#push-impressions)
I have added a Notification Service Extension.
But getting the following error in the ```NotificationService.m``` file :
```'CleverTap.h' file not found```
for the line ```#import <CleverTap.h>```

<img wi

[2022-08-05 11:02] akashvercetti commented on #243
@CatWithNineLives Notification Extensions run independently from the parent/base app, as in we would need to add dependencies for them separately. So could you try adding one of the two snippets below to your ios app Podfile?

`target 'NotificationService' do
     pod 'CleverTap-iOS-SDK'
  end`

OR

`target 'NotificationService' do
    inherit! :search_paths
  end`

[2022-08-05 11:55] CatWithNineLives commented on #243
This works, thanks for the help! Makes sense in retrospect.

[2022-08-05 11:55] #243 closed

[2022-08-05 12:08] CatWithNineLives commented on #235
@akashvercetti Had the same question - Can you share an example project for passing Identity/Email in the NotificationServiceExtension ?

[2022-08-10 05:00] CatWithNineLives opened #244 "Help with implementing Push Impressions, prevention of dummy profile creation"
I am implementing Push Impressions in iOS for my react native app which uses the clevertap-react-native SDK. https://developer.clevertap.com/docs/push-notifications-ios#push-impressions

I would like help in implementing recordNotificationViewedEvent from my main react native application to prevent creation of dummy profiles.
I have noticed no such API exists in the clevertap-react-native SDK.
I h

[2022-08-10 07:57] akashvercetti commented on #244
@CatWithNineLives We currently do not have an api to record notification viewed event for the JS side but we will take this as a feature request for future releases.
For the Objc/Swift side of the app, you could try the following:
- Add the CleverTap accountID and token to the notification extension's info.plist. Push a profile with the same user creds (identity/email) as the main app. Call the `r

[2022-08-10 17:28] Felipelpk opened #245 "getProductConfigString returning empty"
Hi guys,

I'm creating an A/B test for a banner in my app but I'm not able to get it to return the correct value of my key within my app it always returns empty.

[code]

**output:**

<img width="425" alt="Screen Shot 2022-08-10 at 14 27 13" src="https://user-images.githubusercontent.com/44594611/183977633-f0fa502c-c101-4d72-aaa1-a765be555fc1.png">

[2022-08-11 04:08] darshanclevertap commented on #245
@Felipelpk Are you calling the `fetchAndActivate` method before calling `getProductConfigString` method?

[2022-08-11 13:09] Felipelpk commented on #245
@darshanclevertap yes

[2022-08-11 16:59] smohit02 commented on #166
I have a follow up question to this issue.

My requirement is to get the FCM token only from [@react-native-firebase/messaging](https://rnfirebase.io/messaging/usage).

And send this token to Clevertap using CleverTap.setPushToken() without having to write Native Java Code for generating token from the FirebaseMessagingService class.

This is, since I want to receive notifications from the Firebas

[2022-08-12 06:19] smohit02 opened #246 "Push Notifications - Using @react-native-firebase/messaging for generating FCM Token"
My requirement is to get the FCM token only from [@react-native-firebase/messaging](https://rnfirebase.io/messaging/usage).

And send this token to Clevertap using CleverTap.setPushToken() without having to write Native Java Code for generating token from the FirebaseMessagingService class.

This is, since I want to receive notifications from the Firebase Console as well as Clevertap Dashboard usi

[2022-08-16 05:40] darshanclevertap commented on #245
@Felipelpk I'd suggest you reach out to our support team here. We would need to see the campaign you have created on the dashboard and the values set for the keys as well to understand this better. Please do share a debug APK with them as well.

You can create a support ticket by clicking on "Need Help?" on the top right of the dashboard and then clicking on "Create a Support ticket"

Thanks!

[2022-08-16 07:05] piyush-kukadiya commented on #246
@smohit02 Please share a document that you are following. It's optional to have `FirebaseMessagingService` class if you are using your own fcm implementation or any other provider's implementation.

[2022-08-16 08:16] smohit02 commented on #246
I am following the official Clevertap React Native Push Docs along with https://rnfirebase.io/messaging/usage for getting FCM token.

My only concern now is that if the user deletes the app, and re installs it, Clevertap Dashboard Profile of that user does not record new data and the new FCM token if generated, does not registered on Clevertap.

How can we handle this case, where a new FCM token f

[2022-08-16 10:39] piyush-kukadiya commented on #246
@smohit02 You can pass new token to dashboard whenever you want,  with same method https://github.com/CleverTap/clevertap-react-native/blob/master/docs/usage.md#registering-fcm-token

If you are facing integration related issues, please reach out to our support team.

[2022-08-23 15:02] mouricef opened #257 "How to perform the notification actions without app launch."
I have implemented actions for the android notification successfully. But I did not find any documentation about how to perform the action without launching the app.

Is it possible to perform the actions without launching the app?

[2022-08-25 09:05] minhchienwikipedia opened #258 "Rich push notifications not work"
Hi, in my app, we implement rich push notifications already and it works as well with Firebase. But it's not working with Clevertap. What am I need to do to make it work?

[2022-08-25 10:58] piyush-kukadiya commented on #258
@minhchienwikipedia Please reach out to our support team for integration issues.

[2022-08-25 10:58] #258 closed

[2022-08-25 11:00] piyush-kukadiya commented on #257
@mouricef Didn't get your question. Please explain in detail.

[2022-08-25 11:00] #245 closed

[2022-08-25 11:01] #246 closed

[2022-08-25 11:04] piyush-kukadiya commented on #242
@bohrend Please check this out https://github.com/CleverTap/clevertap-android-sdk/issues/148

[2022-08-25 11:09] piyush-kukadiya commented on #240
@bohrend We added support for androidX in 0.5.0. You can use 0.4.5 for clevertap react native. I would recommend to use latest version however.

[2022-08-25 11:10] #240 closed

[2022-08-25 11:12] #239 closed

[2022-08-25 11:16] mouricef commented on #257
We are trying to implement the actions in the push notification on android. We can send the push notification with actions but not sure on how to handle the action click.

Below is our use case,

Send the push notification with some title and message where user can perform the CTA such as like or dislike for example.
After user click on the notification actions, we want to perform the API call wit

[2022-08-25 11:16] piyush-kukadiya commented on #237
@FSAish Yes we don't give callback if custom k,v pair is not present. We will discuss this internally if we can support this. Thanks!

[2022-08-25 11:18] piyush-kukadiya commented on #233
@raminfoo Please explain your issue in detail. Thanks!

[2022-08-25 11:19] #222 closed

[2022-08-25 11:19] #242 closed

[2022-09-06 13:34] Mobu34 commented on #237
Hello @piyush-kukadiya

I'm also trying to use this event to get the url when users press any button of our InApp messages but this event never gets called as well and I can't add custom key value pair for InApp campaigns (only for push notifications).
Is it normal ?

Do you plan to support this without custom key value pair ?

Thanks

[2022-09-07 04:58] #232 closed

[2022-09-07 04:59] darshanclevertap commented on #233
@raminfoo Closing this due to inactivity. please feel free to reopen this and provide more details

[2022-09-07 04:59] #233 closed

[2022-09-07 05:01] darshanclevertap commented on #237
@Mobu34 You can add KV pairs to the button of the InApp campaigns if you are using the Native InApp templates.

[2022-09-07 05:02] darshanclevertap commented on #244
@CatWithNineLives Closing this due to inactivity. Please feel free to reopen this if the workaround suggested by @akashvercetti did not help.

[2022-09-07 05:02] #244 closed

[2022-09-07 07:34] piyush-kukadiya commented on #237
@Mobu34 Make sure you are following proper steps given in below docs:

- https://developer.clevertap.com/docs/android-in-app-notifications#in-app-notification-button-onclick-callbacks
- https://docs.clevertap.com/docs/create-message-inapp#compose

You will find it while creating in app campaigns
<img width="490" alt="Screenshot 2022-09-07 at 1 03 17 PM" src="https://user-images.githubusercontent.c

[2022-09-07 09:14] Mobu34 commented on #237
Thanks for replying and for your help @darshanclevertap @piyush-kukadiya

Actually I could not find this action as I wanted to use the alert template but this action is not available for that one :
<img width="1346" alt="Capture d’écran 2022-09-07 à 11 10 21" src="https://user-images.githubusercontent.com/68015818/188839862-fed2bcd1-b73d-4a02-905c-421ce8dd7a52.png">

And how suggests FSAish, is

[2022-09-07 10:29] piyush-kukadiya commented on #237
@Mobu34 Without custom kv we don't give callback as of now. Also custom k,v is not applicable for alert in app. Although we can discuss this with our product team if we can have support for custom k,v for alert.

[2022-09-20 06:46] Harish-Clevertap opened #260 "Unable to send data to Clevertap Dashboard"
While launching a React-Native build, no ClevertapReact logs were displayed in the Logcats in Android Studio.

While analysing logs, we found an error logs which is shared in the screenshot.

"Tried to access JS Module before the react instance was fully setup."
<img width="1320" alt="image (5)" src="https://user-images.githubusercontent.com/113969550/191187517-f097eb2d-76a2-49ab-b59c-bfa384fb016e

[2022-09-20 07:57] #260 closed

[2022-10-06 15:04] neel132 opened #267 "TypeError: CleverTapReact.setPushTokenAsStringWithRegion is not a function."
I am receiving this TypeError. I have set the region to global in info.plist

[2022-10-07 10:25] akashvercetti commented on #267
@neel132 This has been fixed in the latest release v0.9.2: https://github.com/CleverTap/clevertap-react-native/releases/tag/0.9.2 👍

[2022-10-07 10:25] #267 closed

[2022-10-14 11:07] devilankur18 opened #270 "Support for react-native-web ?"
Please help understand how to use this package with react-native-web ?

[2022-10-16 05:14] akashvercetti commented on #270
@devilankur18 please use our Web SDK for react-native-web: https://github.com/CleverTap/clevertap-web-sdk

[2022-10-16 05:14] #270 closed

[2022-10-16 16:21] neel132 opened #271 "TypeError: Cannot read property 'wzrk_dl' of undefined"
**Encountered this issue in production.**

### Error Stack trace -
[code]
### Device -
Android Version - 11
Device - Oppo F11

[2022-10-19 12:21] eramudeep opened #272 "IOS foreground push notification not showing"
RN : **0.70**
clevertap-react-native: **0.9.0**
Platform : **OS**

**Whats done** :
[code]

**My Util file**

[code]

**whats happening** :

**whats not working :**

[2022-10-20 07:16] akashvercetti commented on #272
Alright @eramudeep, please allow us some time to reproduce and debug this.

[2022-10-20 12:40] LonelyCpp opened #273 "incorrect type definitions"
## missing types
types for these exported constants are missing in `index.d.ts`
[code]

## incorrect types
both `profileGetCleverTapAttributionIdentifier` and `profileGetCleverTapID` have incorrect callback types.

index.d.ts says they both get a callback with res as an "object", but both get "string" in their callbacks

---

please add a `@deprecated`  tag in the comments rather than just saying

[2022-10-20 13:37] umar98 opened #274 "Possible Vulnerability"
Greetings,

So, while conducting our VAPT assessment I came across an issue that as per our regularity we're not allowed to install hardcoded credentials in the Manifest or Info.plist file. Any workaround for this method?

[2022-10-21 06:48] piyush-kukadiya commented on #274
@umar98 You can go through this https://github.com/CleverTap/clevertap-react-native/blob/master/index.js#L204

[2022-10-21 06:55] piyush-kukadiya commented on #273
@LonelyCpp Thanks for feedback.  This will get fixed in next release.

[2022-10-21 07:24] piyush-kukadiya commented on #271
@neel132 Can you share full stack  trace, we can't find origin of error in clevertap file.

[2022-10-21 08:09] neel132 commented on #271
@piyush-kukadiya this is happening only on production. This stack trace i got from firebase crashlytics.

[2022-10-21 08:32] piyush-kukadiya commented on #257
@mouricef Due to notification trampoline we added this check. We will discuss this internally if we can provide CTA callback to Apps and let you know. Thanks!

[2022-10-22 09:51] umar98 commented on #274
Thank You. Any such this for the React Native SDK? If not, can also such be found for IOS?

[2022-10-25 07:31] piyush-kukadiya commented on #274
@umar98 Api is not there for React native Android, you will have to use native code. @akashvercetti Can you comment on iOS?

[2022-10-25 07:44] akashvercetti commented on #274
@umar98 you can try this: https://developer.clevertap.com/docs/advanced-options-ios#setting-account-credentials

[2022-10-25 08:43] umar98 commented on #274
@piyush-kukadiya, @akashvercetti  Thank you for all your efforts.

Is there any way around I can avoid this in React Native? I use React Native build as per our Compliant Body, we're not allowed to have any data in the Manifest or the list file.

[2022-10-27 14:37] neel132 commented on #271
@piyush-kukadiya any update on this ?

[2022-10-28 06:05] piyush-kukadiya commented on #271
@neel132 Are you using `CLEVERTAP_PUSH_NOTIFICATION_CLICKED` callback in js?

[2022-10-28 06:52] neel132 commented on #271
@piyush-kukadiya
Implementation -
[code]

[2022-10-28 09:57] piyush-kukadiya commented on #271
@neel132 Why are you using **customExtras.wzrk_dl** ? Where did you find it? Please check payload in console and use accordingly.

[2022-10-28 10:18] neel132 commented on #271
@piyush-kukadiya I found this key by logging an event once notification is clicked , also i was able to access deep link using this key.

[2022-10-28 10:29] piyush-kukadiya commented on #271
@neel132 `customExtras` comes in case of iOS. For android we don't have `customExtras`, you can try `e.wzrk_dl` for Android. We will fix this in upcoming release.

[2022-11-01 10:26] #273 closed

[2022-11-03 12:42] LonelyCpp opened #277 "Can we enable setting Account ID through javascript?"
Currently we need to set these IDs in android and ios native domains individually.
It will be very helpful for RN users if this were possible to do through javascript.

example : [mixpanel](https://github.com/mixpanel/mixpanel-react-native#2-initialize-mixpanel) takes the project ID in the initialisation call

[2022-11-03 12:49] piyush-kukadiya commented on #277
@LonelyCpp We don't support through javascript. We will check internally if it's feasible to provide it and inform here if we release the same.

[2022-11-08 09:16] LukasMod opened #278 "SDWebImage compatibility"
Hi,
there is compatibility issue with react-native-fast-image.
Please update clevertap-react-native to use the last version of SDWebImage

[code]

[2022-11-08 09:25] akashvercetti commented on #278
@LukasMod Noted. We will be updating this dependency issue in the next release 👍

[2022-11-08 09:28] LukasMod commented on #278
Great! Thanks for super fast answer. Can you share when to expect the new version?

[2022-11-08 09:47] LukasMod commented on #278
I did that, and also tried rm node_module and reinstall. But sadly didn't work.

[2022-11-08 12:14] eramudeep commented on #272
Hi @piyush-kukadiya able to find any workaround ?

[2022-11-14 04:03] smgrv123 opened #279 "React Native Proguard Config Docs"
Documentation for proguard rules not found in documentation.

[2022-11-14 05:31] darshanclevertap commented on #279
@smgrv123 The Android SDK shipped with the React Native SDK has the [Proguard rules inbuilt](https://github.com/CleverTap/clevertap-android-sdk/blob/master/clevertap-core/consumer-rules.pro).

Can you please let us what exactly you are trying to control with the Proguard rules?

[2022-11-17 14:01] saczx opened #280 "minSDK upgrade to 21"
Hi, could you please upgrade the min SDK on Android to 21 ? Otherwise it wouldn't compile in usage with other tools like detox

Why the minSDK is set to 16 ? In the latest react-native version the minSDK is set to 21, it could lead to many issues

Thanks in advance,

[2022-11-20 10:18] nimeshpoudel7 opened #281 "I am not able to view payload when app is killed"
when app is closed, event is not triggered, but when it is open or in background then event along with payload are viewed

[2022-11-24 06:32] Shridhar-CN commented on #272
I am facing the same issue for IOS, not able to receive the push notification from cleverTap when app is in foreground state.

[2022-11-24 07:03] akashvercetti commented on #272
@Shridhar-CN we are actively debugging this on our end. We will update you on this as soon as possible 👍

[2022-11-29 10:41] #279 closed

[2022-11-30 05:20] akashvercetti commented on #278
@LukasMod we have updated dependencies in our latest release v0.9.4. Could you please try updating and check if it helps?

[2022-11-30 06:05] Shridhar-CN commented on #272
@akashvercetti any update on the issue?

[2022-11-30 06:09] kushagraa14 commented on #272
We have checked the behaviour in our sample app where foreground push notifications are getting invoked with react-native version 0.64 and CleverTap version 0.9.4
Refer: https://github.com/CleverTap/clevertap-react-native/blob/master/Example/ios/Example/AppDelegate.m

Make sure to add UNUserNotificationCenter delegate to self before sending notification as added in sample AppDelegate file, and imp

[2022-11-30 10:19] LukasMod commented on #278
Yup, it helped. Thank you

[code]

[2022-11-30 10:19] #278 closed